<section id="indisponivel" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header pos_relative">
      <h1 class="popup__title">Em Desenvolvimento</h1>
    </header>

    <div class="popup__container--content">
      <p class="text info justify">Olá! Estamos animados em compartilhar que estamos desenvolvendo novos recursos para o
        nosso site. Durante esse período, você pode encontrar algumas áreas em construção.</p>
      <p class="text info justify margin_top">Pedimos desculpas por qualquer inconveniente temporário e agradecemos pela
        sua compreensão. Estamos trabalhando duro para proporcionar a você algo incrível em breve!</p>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_popup('indisponivel')">Fechar</button>
    </footer>
  </div>
</section>
