<section id="edit_valor" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar valor</h1>
        </header>

        <div class="popup__container--content">
            <h2 id="edit_valor_msg" class="popup__text"></h2>
            <form id="formulario_edit_valor" class="form__container--card max_width" method="post">
                <div class="form__container--input first">
                    <input id="edit_valor_new" class="form__input white input_notIcon" type="number" step="0.01">
                    <label class="form__label intense label_notIcon" for="edit_valor_new">Novo valor</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_valor')">Cancelar</button>
            <button class="popup__btn" onclick="edit_valor(this)">Salvar</button>
        </footer>
    </div>
</section>


<section id="edit_capacidade_veicle" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar capacidade</h1>
        </header>

        <div class="popup__container--content">
            <h2 class="popup__text"></h2>
            <form id="formulario_edit_capacidade_veicle" class="form__container--card max_width" method="post">
                <div class="form__container--input first">
                    <input id="input_new_capacidade_veicle" class="form__input white input_notIcon" type="number" min="1">
                    <label class="form__label intense label_notIcon" for="input_new_capacidade_veicle">Capacidade</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_capacidade_veicle')">Cancelar</button>
            <button class="popup__btn">Salvar</button>
        </footer>
    </div>
</section>


<section id="edit_motorista_veicle" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Definir motorista</h1>
        </header>

        <div class="popup__container--content">
            <h2 id="edit_motorista_veicle_title" class="popup__text"></h2>
            <div id="edit_motorista_veicle_container" class="scroll_vertical init_top no_borderY popup__container--scroll">
                <div id="edit_motorista_veicle_nenhum" class="popup__input checkbox hidden" onclick="popup_selectOption(this, false, true)">
                    <p id="edit_motorista_veicle_opNenhum" class="popup__text input">Nenhum</p>
                </div>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_motorista_veicle')">Cancelar</button>
            <button class="popup__btn">Salvar</button>
        </footer>
    </div>
</section>


<section id="del_veicle" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Excluir veículo</h1>
        </header>

        <div class="popup__container--content">
            <h4 class="popup__text info">Ao proseguir, você irá excluir permanentemente:</h4>
            <h2 id="del_veicle_placa" class="popup__text emphasis"></h2>
            <h4 class="popup__text info">Todas as rotas relacionadas a este veículo serão apagadas e o motorista ficará sem veículo.</h4>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('del_veicle')">Cancelar</button>
            <button class="popup__btn">Excluir</button>
        </footer>
    </div>
</section>


<section id="del_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Excluir rota</h1>
        </header>

        <div class="popup__container--content">
            <h4 class="popup__text info">Ao proseguir, você irá excluir permanentemente esta rota. Todos os alunos cadastrados serão removidos.</h4>

            <form id="formulario_del_rota" class="form__container--card max_width" method="post">
                <h1 class="page__division"></h1>
                <h3 class="popup__text info space">Confirme a exclusão com sua senha:</h3>
                <div class="form__container--input first">
                    <input id="del_rota_conf" class="form__input input_password white input_notIcon" type="password" required>
                    <i id="del_rota_btn_password" class="bi bi-eye-fill form__btn--password white" onclick="animateIconPassword(this)"></i>
                    <label class="form__label intense label_notIcon" for="del_rota_conf">Senha de confirmação</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('del_rota')">Cancelar</button>
            <button class="popup__btn">Excluir</button>
        </footer>
    </div>
</section>


<section id="add_veicle" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Adicionar veículo</h1>
        </header>

        <div class="popup__container--content">
            <div class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                <form id="formulario_add_veicle" class="form__container--card max_width" method="post">
                    <div class="form__container--input first">
                        <input id="input_veicle_placa" class="form__input white input_notIcon" type="text" required>
                        <label class="form__label intense label_notIcon" for="input_veicle_placa">Placa</label>
                    </div>
        
                    <div class="form__container--input">
                        <input id="input_veicle_capacidade" class="form__input white input_notIcon" type="number" min="1" required>
                        <label class="form__label intense label_notIcon" for="input_veicle_capacidade">Capacidade</label>
                    </div>
    
                    <h3 class="popup__text question">Deseja definir um motorista agora?</h3>
                    <div id="add_veicle_motorista" class="popup__container--options">
                        <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
                            <i class="bi bi-circle popup__icon ratio"></i>
                            <p class="popup__text content input">Sim</p>
                        </div>
    
                        <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
                            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
                            <p class="popup__text content input">Não</p>
                        </div>
                    </div>
    
                    <h3 id="add_veicle_motorista_title" class="popup__text info space inactive">Selecione o motorista:</h3>
                    <div id="add_veicle_motorista_container" class="scroll_vertical init_top no_borderY popup__container--scroll inactive">
                        {% for index in range(5) %}
                        <div id="interface_model_option" class="popup__input checkbox inactive hidden" onclick="popup_selectOption(this, false, true)">
                            <p id="model_option_nome" class="popup__text input">Teste</p>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('add_veicle', true)">Cancelar</button>
            <button class="popup__btn">Adicionar</button>
        </footer>
    </div>
</section>


<section id="add_ponto" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Criar ponto</h1>
        </header>

        <div class="popup__container--content">
            <div class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                <form id="formulario_add_ponto" class="form__container--card max_width" method="post">
                    <div class="form__container--input first">
                        <input id="input_ponto_nome" class="form__input white input_notIcon" type="text" required>
                        <label class="form__label intense label_notIcon" for="input_ponto_nome">Nome</label>
                    </div>
                    
                    <div class="form__container--input">
                        <input id="input_ponto_tolerancia" class="form__input white input_notIcon" type="number" min="1" max="9">
                        <label class="form__label intense label_notIcon" for="input_ponto_tolerancia">Tempo tolerância</label>
                    </div>

                    <div class="form__container--input">
                        <input id="input_ponto_gps" class="form__input white input_notIcon" type="text">
                        <label class="form__label intense label_notIcon" for="input_ponto_gps">Link GPS</label>
                    </div>
                </form>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('add_ponto')">Cancelar</button>
            <button class="popup__btn">Criar</button>
        </footer>
    </div>
</section>


<section id="add_ponto_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Adicionar ponto a rota</h1>
        </header>

        <div class="popup__container--content">
            <h3 class="popup__text question first">Selecione o novo ponto da rota:</h3>
            <div id="add_ponto_rota_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                {% for index in range(2) %}
                <div id="interface_model_option" class="popup__input checkbox hidden" onclick="popup_selectOption(this, false, true)">
                    <p id="model_option_nome" class="popup__text input">Teste</p>
                </div>
                {% endfor %}
            </div>

            <h3 class="popup__text question">Selecione o horário de passagem:</h3>
            <h4 class="popup__text info">Este horário refere-se ao momento de passagem deste ponto nesta rota.</h4>
            <form id="formulario_add_ponto_rota" class="form__container--card max_width" method="post">
                <input id="add_ponto_rota_horario" class="form__input white input_notIcon time" type="time" required>
                <label class="form__label intense label_notIcon" for="add_ponto_rota_horario">Horário de passagem</label>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('add_ponto_rota')">Cancelar</button>
            <button class="popup__btn">Adicionar</button>
        </footer>
    </div>
</section>


<section id="add_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Criar rota</h1>
        </header>

        <div class="popup__container--content">
            <div class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                <form id="formulario_add_rota" class="form__container--card max_width" method="post">
                    <div class="form__container--input first">
                        <input id="input_rota_turno" class="form__input white input_notIcon" type="text" required>
                        <label class="form__label intense label_notIcon" for="input_rota_turno">Turno</label>
                    </div>

                    <div class="form__container--input">
                        <input id="input_rota_horario" class="form__input white input_notIcon time" type="time" required>
                        <label class="form__label intense label_notIcon" for="input_rota_horario">Horário</label>
                    </div>

                    <h3 class="popup__text question">Selecione o veículo da rota:</h3>
                    <div id="add_rota_veicles_container" class="scroll_vertical init_top no_borderY popup__container--scroll">
                        {% for index in range(2) %}
                        <div id="interface_model_option" class="popup__input checkbox hidden" onclick="popup_selectOption(this, false, true)">
                            <p id="model_option_nome" class="popup__text input">Teste</p>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('add_rota')">Cancelar</button>
            <button class="popup__btn">Criar</button>
        </footer>
    </div>
</section>


<section id="config_motorista" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 id="config_motorista_nome" class="popup__title"></h1>
        </header>

        <div class="popup__container--content center_itens">
            <div class="interface__container--btn add" onclick="open_popup_edit('promover_motorista', this)">
                <p id="config_motorista_promover" class="interface__text">Promover a administrador</p>
            </div>

            <div class="interface__container--btn add inactive" onclick="open_popup_edit('rebaixar_motorista', this)">
                <p id="config_motorista_rebaixar" class="interface__text">Rebaixar a participante</p>
            </div>

            <div class="interface__container--btn remove" onclick="open_popup_edit('remover_motorista', this)">
                <p id="config_motorista_remover" class="interface__text remove">Remover da linha</p>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn" onclick="cancel_popup_edit('config_motorista')">Fechar</button>
        </footer>
    </div>
</section>


<section id="config_linha" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header pos_relative">
            <h1 id="config_linha_nome" class="popup__title"></h1>
            <i class="bi bi-pencil-square page__icon card title" onclick="open_popup_edit('edit_nome_linha', this)"></i>
        </header>

        <div class="popup__container--content">
            <div class="page__container">
                <p class="text secundario fundo">Cidade:</p>
                <p id="config_linha_cidade" class="text secundario content fundo"></p>
                <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_cidade_linha')"></i>
            </div>

            <h3 class="popup__text question">Linha de férias?</h3>
            <div id="config_linha_options_ferias" class="popup__container--options">
                <div class="popup__input checkbox bool" onclick="edit_config_bool(this)">
                    <i class="bi bi-circle popup__icon ratio"></i>
                    <p class="popup__text content input">Sim</p>
                </div>

                <div class="popup__input checkbox bool" onclick="edit_config_bool(this)">
                    <i class="bi bi-check2-circle popup__icon ratio selected"></i>
                    <p class="popup__text content input">Não</p>
                </div>
            </div>

            <h3 class="popup__text question">Linha paga?</h3>
            <div id="config_linha_options_gratuidade" class="popup__container--options">
                <div class="popup__input checkbox bool" onclick="edit_config_bool(this)">
                    <i class="bi bi-check2-circle popup__icon ratio selected"></i>
                    <p class="popup__text content input">Sim</p>
                </div>

                <div class="popup__input checkbox bool" onclick="edit_config_bool(this)">
                    <i class="bi bi-circle popup__icon ratio"></i>
                    <p class="popup__text content input">Não</p>
                </div>
            </div>

            <h1 class="page__division"></h1>
            <div class="page__container justify">
                <div class="interface__container--btn no_margin remove" onclick="open_popup_edit('del_linha', this)">
                    <i class="bi bi-trash3 interface__icon del"></i>
                </div>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn" onclick="cancel_popup_edit('config_linha')">Fechar</button>
        </footer>
    </div>
</section>


<section id="config_ponto" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header pos_relative">
            <h1 id="config_ponto_nome" class="popup__title"></h1>
            <i class="bi bi-pencil-square page__icon card title" onclick="open_popup_edit('edit_nome_ponto')"></i>
        </header>

        <div class="popup__container--content">
            <div class="scroll_vertical init_top no_borderY popup__container--scroll principal_big">
                <div class="page__container">
                    <p class="text secundario fundo">Tempo tolerância:</p>
                    <div class="text secundario fundo">
                        <p id="config_ponto_tolerancia" class="text secundario container content space">1</p>
                        <p class="text secundario fundo container content">min</p>
                    </div>
                    <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_tolerancia_ponto')"></i>
                </div>
    
                <div class="page__container">
                    <p class="text secundario fundo">Link GPS:</p>
                    <div class="scroll_horizontal">
                        <p id="config_ponto_gps" class="text secundario nowrap content fundo">Link</p>
                    </div>
                    <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_gps_ponto')"></i>
                </div>
                
                <div id="config_ponto_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                    <h3 class="text secundario fundo">Alunos</h3>
                    <h3 class="text secundario fundo max_width">1 cadastrado</h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>

                <div id="config_ponto_container" class="scroll_vertical init_top no_borderY popup__container--scroll inactive">
                    {% for index in range(1) %}
                    <div id="interface_model_ponto" class="popup__input grow min_height" onclick="open_popup_edit('config_aluno', this)">
                        <p id="interface_model_ponto_title" class="popup__text input">Victor Gabriel</p>
                        <i class="bi bi-three-dots-vertical page__icon content right"></i>
                    </div>
                    {% endfor %}
                </div>

                <h1 class="page__division"></h1>
                <div class="page__container justify">
                    <div class="interface__container--btn no_margin remove" onclick="open_popup_edit('del_ponto', this)">
                        <i class="bi bi-trash3 interface__icon del"></i>
                    </div>
                </div>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn" onclick="cancel_popup_edit('config_ponto')">Fechar</button>
        </footer>
    </div>
</section>


<section id="config_relacao_ponto_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header pos_relative">
            <h1 id="config_ponto_nome" class="popup__title">Relação do ponto</h1>
        </header>

        <div class="popup__container--content">
            <div class="page__container">
                <p class="text secundario fundo">Nome:</p>
                <div class="scroll_horizontal">
                    <p id="config_relacao_ponto_rota_nome" class="text secundario content fundo nowrap"></p>
                </div>
            </div>

            <div class="page__container">
                <p class="text secundario fundo">Ordem de passagem:</p>
                <p id="config_relacao_ponto_rota_ordem" class="text secundario content fundo"></p>
            </div>

            <div class="page__container">
                <p class="text secundario fundo">Horário de passagem:</p>
                <p id="config_relacao_ponto_rota_horario" class="text secundario content fundo"></p>
                <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_horario_relacao_ponto_rota', this)"></i>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn" onclick="cancel_popup_edit('config_relacao_ponto_rota')">Fechar</button>
        </footer>
    </div>
</section>


<section id="config_aluno" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header pos_relative">
            <h1 class="popup__title">Aluno</h1>
        </header>

        <div class="popup__container--content">
            <div class="scroll_vertical init_top no_borderY popup__container--scroll principal_big">
                <div class="page__container">
                    <p class="text secundario emphasis">Nome</p>
                    <div class="scroll_horizontal">
                        <p id="config_aluno_nome" class="text secundario nowrap content fundo"></p>
                    </div>
                    <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
                </div>
    
                <div class="page__container">
                    <p class="text secundario emphasis">Telefone</p>
                    <p id="config_aluno_telefone" class="text secundario content fundo">(84) 99999-9999</p>
                    <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
                </div>
    
                <div class="page__container">
                    <p class="text secundario emphasis">Curso</p>
                    <p id="config_aluno_curso" class="text secundario content fundo">Informática</p>
                    <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
                </div>
    
                <div class="page__container">
                    <p class="text secundario emphasis">Turno</p>
                    <p id="config_aluno_turno" class="text secundario content fundo">Matutino</p>
                    <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
                </div>

                <h1 class="page__division"></h1>
                <div id="config_aluno_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                    <h3 class="text secundario fundo">Tickets</h3>
                    <h3 id="config_aluno_qnt_tickets" class="text secundario fundo max_width">0 restantes</h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>

                <div id="config_aluno_container" class="scroll_vertical init_top no_borderY popup__container--scroll inactive">
                    <h3 class="text secundario fundo">Não disponível.</h3>
                </div>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn" onclick="cancel_popup_edit('config_aluno')">Fechar</button>
        </footer>
    </div>
</section>


<section id="create_line" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Criar linha</h1>
        </header>

        <div class="popup__container--content">
            <div class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                <form id="formulario_create_line" class="form__container--card max_width" method="post" onsubmit="validationLine(this, event)">
                    <div class="form__container--input first">
                        <input id="nome_create_line" class="form__input white input_notIcon" type="text" name="nome" required>
                        <label class="form__label intense label_notIcon" for="nome_create_line">Nome da linha</label>
                    </div>
                    
                    <div class="form__container--input">
                        <input id="cidade_create_line" class="form__input white input_notIcon" type="text" name="cidade" required>
                        <label class="form__label intense label_notIcon" for="cidade_create_line">Cidade de atuação</label>
                    </div>
                    
                    <h3 class="popup__text question">Esta linha será paga?</h3>
                    <div id="options_gratuidade" class="popup__container--options">
                        <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
                            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
                            <p class="popup__text content input">Sim</p>
                        </div>

                        <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
                            <i class="bi bi-circle popup__icon ratio"></i>
                            <p class="popup__text content input">Não</p>
                        </div>
                    </div>

                    <div id="options_gratuidade_container">
                        <div class="form__container--input">
                            <input id="valor_cartela" class="form__input white input_notIcon" type="number" step="0.01" name="preço da cartela">
                            <label class="form__label intense label_notIcon" for="valor_cartela">Preço da cartela</label>
                        </div>

                        <div class="form__container--input">
                            <input id="valor_diaria" class="form__input white input_notIcon" type="number" step="0.01" name="preço da diária">
                            <label class="form__label intense label_notIcon" for="valor_diaria">Preço da diária</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('create_line', true, 'Sim')">Cancelar</button>
            <button class="popup__btn" onclick="submit('formulario_create_line')">Criar</button>
        </footer>
    </div>
</section>


<section id="promover_motorista" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Promover motorista</h1>
        </header>

        <div class="popup__container--content">
            <h4 class="popup__text info">Ao proseguir, você irá promover a administrador:</h4>
            <h2 id="promover_motorista_nome" class="popup__text emphasis"></h2>
            <h4 class="popup__text info">Este motorista será capaz de criar, apagar ou modificar informações, tais como valores, veículos, pontos, rotas e tickets relacionados à linha.</h4>
            <h1 class="page__division"></h1>
            <h4 class="popup__text info">Apenas você permanecerá com a capacidade de promover ou rebaixar outros motoristas e fazer alterações significativas na linha.</h4>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('promover_motorista')">Cancelar</button>
            <button class="popup__btn">Promover</button>
        </footer>
    </div>
</section>


<section id="rebaixar_motorista" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Rebaixar motorista</h1>
        </header>

        <div class="popup__container--content">
            <h4 class="popup__text info">Ao proseguir, você irá rebaixar a participante:</h4>
            <h2 id="rebaixar_motorista_nome" class="popup__text emphasis"></h2>
            <h4 class="popup__text info">Este motorista não será mais capaz de modificar informações da linha.</h4>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('rebaixar_motorista')">Cancelar</button>
            <button class="popup__btn">Rebaixar</button>
        </footer>
    </div>
</section>


<section id="remover_motorista" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Remover motorista</h1>
        </header>

        <div class="popup__container--content">
            <h4 class="popup__text info">Ao proseguir, você irá remover da linha:</h4>
            <h2 id="remover_motorista_nome" class="popup__text emphasis"></h2>
            <h4 class="popup__text info">Todas as relações deste motorista serão desfeitas e ele não participará mais desta linha.</h4>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('remover_motorista')">Cancelar</button>
            <button class="popup__btn">Remover</button>
        </footer>
    </div>
</section>


<section id="edit_nome_linha" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar nome da linha</h1>
        </header>

        <div class="popup__container--content">
            <h2 class="popup__text">Digite o novo nome da linha:</h2>
            <form id="formulario_edit_nome_linha" class="form__container--card max_width" method="post">
                <div class="form__container--input first">
                    <input id="edit_new_nome_linha" class="form__input white input_notIcon" type="text" required>
                    <label class="form__label intense label_notIcon" for="edit_new_nome_linha">Novo nome</label>
                </div>

                <h1 class="page__division"></h1>
                <h3 class="popup__text info space">Confirme a alteração com sua senha:</h3>
                <div class="form__container--input first">
                    <input id="edit_nome_linha_conf" class="form__input input_password white input_notIcon" type="password" required>
                    <i id="edit_nome_linha_btn_password" class="bi bi-eye-fill form__btn--password white" onclick="animateIconPassword(this)"></i>
                    <label class="form__label intense label_notIcon" for="edit_nome_linha_conf">Senha de confirmação</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_nome_linha')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_cidade_linha" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar cidade da linha</h1>
        </header>

        <div class="popup__container--content">
            <h2 class="popup__text">Digite o nome da cidade:</h2>
            <form id="formulario_edit_cidade_linha" class="form__container--card max_width" method="post">
                <div class="form__container--input first">
                    <input id="edit_new_cidade_linha" class="form__input white input_notIcon" type="text" required>
                    <label class="form__label intense label_notIcon" for="edit_new_cidade_linha">Cidade</label>
                </div>

                <h1 class="page__division"></h1>
                <h3 class="popup__text info space">Confirme a alteração com sua senha:</h3>
                <div class="form__container--input first">
                    <input id="edit_cidade_linha_conf" class="form__input input_password white input_notIcon" type="password" required>
                    <i id="edit_cidade_linha_btn_password" class="bi bi-eye-fill form__btn--password white" onclick="animateIconPassword(this)"></i>
                    <label class="form__label intense label_notIcon" for="edit_cidade_linha_conf">Senha de confirmação</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_cidade_linha')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_nome_ponto" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar nome do ponto</h1>
        </header>

        <div class="popup__container--content">
            <h2 class="popup__text">Digite o novo nome do ponto:</h2>
            <form id="formulario_edit_nome_ponto" class="form__container--card max_width" method="post">
                <div class="form__container--input first">
                    <input id="edit_new_nome_ponto" class="form__input white input_notIcon" type="text" required>
                    <label class="form__label intense label_notIcon" for="edit_new_nome_ponto">Novo nome</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_nome_ponto')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_tolerancia_ponto" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar tolerância</h1>
        </header>

        <div class="popup__container--content">
            <h2 class="popup__text">Digite o novo tempo de tolerância:</h2>
            <form id="formulario_edit_tolerancia_ponto" class="form__container--card max_width" method="post">
                <div class="form__container--input first">
                    <input id="edit_new_tolerancia_ponto" class="form__input white input_notIcon" type="number" min="1" max="9" required>
                    <label class="form__label intense label_notIcon" for="edit_new_tolerancia_ponto">Tempo tolerância</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_tolerancia_ponto')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_gps_ponto" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Definir GPS</h1>
        </header>

        <div class="popup__container--content">
            <h2 class="popup__text">Digite o Link GPS:</h2>
            <form id="formulario_edit_gps_ponto" class="form__container--card max_width" method="post">
                <div class="form__container--input first">
                    <input id="edit_new_gps_ponto" class="form__input white input_notIcon" type="text" required>
                    <label class="form__label intense label_notIcon" for="edit_new_gps_ponto">Link GPS</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_gps_ponto')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_horario_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Alterar horário</h1>
        </header>

        <div class="popup__container--content">
            <form id="formulario_edit_horario" class="form__container--card max_width" method="post">
                <h2 class="popup__text">Digite o novo horário da rota:</h2>
                <div class="form__container--input">
                    <input id="edit_horario_rota_new_horario" class="form__input white input_notIcon time" type="time" required>
                    <label class="form__label intense label_notIcon" for="edit_horario_rota_new_horario">Horário</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_horario_rota')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_onibus_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Alterar veículo</h1>
        </header>

        <div class="popup__container--content">
            <h2 class="popup__text">Selecione o novo veículo da rota:</h2>
            <div id="edit_onibus_rota_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                {% for index in range(1) %}
                <div id="interface_model_option" class="popup__input checkbox hidden" onclick="popup_selectOption(this, false, true)">
                    <p id="model_option_nome" class="popup__text input">Teste</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_onibus_rota')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_turno_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar turno</h1>
        </header>

        <div class="popup__container--content">
            <form id="formulario_turno_rota" class="form__container--card max_width" method="post">
                <h2 class="popup__text">Digite o novo turno:</h2>
                <div class="form__container--input">
                    <input id="edit_turno_rota_new_turno" class="form__input white input_notIcon" type="text" required>
                    <label class="form__label intense label_notIcon" for="edit_turno_rota_new_turno">Turno</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_turno_rota')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="edit_horario_relacao_ponto_rota" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Editar horário</h1>
        </header>

        <div class="popup__container--content">
            <form id="formulario_edit_horario_relacao_ponto_rota" class="form__container--card max_width" method="post">
                <h2 class="popup__text">Digite o novo horário em que o ônibus passa neste ponto:</h2>
                <div class="form__container--input">
                    <input id="edit_horario_relacao_ponto_rota_new_horario" class="form__input white input_notIcon time" type="time" required>
                    <label class="form__label intense label_notIcon" for="edit_horario_relacao_ponto_rota_new_horario">Horário</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_horario_relacao_ponto_rota')">Cancelar</button>
            <button class="popup__btn">Alterar</button>
        </footer>
    </div>
</section>


<section id="del_linha" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Excluir linha</h1>
        </header>

        <div class="popup__container--content">
            <h4 class="popup__text info">Ao proseguir, você irá excluir permanentemente:</h4>
            <h2 id="del_linha_nome" class="popup__text emphasis"></h2>
            <h4 class="popup__text info">Tudo referente a esta linha será excluido. Os motoristas e alunos relacionados serão removidos.</h4>

            <h1 class="page__division"></h1>
            <form id="formulario_del_linha" class="form__container--card max_width" method="post">
                <h3 class="popup__text info space">Confirme a exclusão com sua senha:</h3>
                <div class="form__container--input first">
                    <input id="del_linha_conf" class="form__input input_password white input_notIcon" type="password" required>
                    <i id="del_linha_btn_password" class="bi bi-eye-fill form__btn--password white" onclick="animateIconPassword(this)"></i>
                    <label class="form__label intense label_notIcon" for="del_linha_conf">Senha de confirmação</label>
                </div>
            </form>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('del_linha')">Cancelar</button>
            <button class="popup__btn">Excluir</button>
        </footer>
    </div>
</section>


<section id="del_ponto" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header">
            <h1 class="popup__title">Excluir ponto</h1>
        </header>

        <div class="popup__container--content">
            <h4 class="popup__text info">Ao proseguir, você irá excluir permanentemente:</h4>
            <h2 id="del_ponto_nome" class="popup__text emphasis"></h2>
            <h4 class="popup__text info">Os alunos cadastrados serão removidos, e a sequência das rotas que contêm este ponto será alterada.</h4>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn cancel" onclick="cancel_popup_edit('del_ponto')">Cancelar</button>
            <button class="popup__btn">Excluir</button>
        </footer>
    </div>
</section>
