<section id="confirmar_passou" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 id="route_stop_path_local" class="popup__title">Seguir Trajeto</h1>
    </header>

    <div class="popup__container--content">

    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('confirmar_passou')">Cancelar</button>
      <button class="popup__btn">Próximo ponto</button>
    </footer>
  </div>
</section>
