<section id="help_me_cadastro_new" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Assistente</h1>
    </header>

    <div class="popup__container--content">
      <div id="help_me_cadastro_new_msg">
        <p class="popup__text secundario justify"><> Chequei aqui e parece que você não possui nenhum vínculo.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify"><> Vamos começar pelos seus pontos fixos! Filtrei as rotas com base em seu turno; escolha a rota que mais lhe agrada e selecione seus locais:</p>
      </div>

      <div id="help_me_cadastro_new_msg_reload" class="inactive">
        <p class="popup__text secundario justify"><> Sem pressa! Estou aqui o dia todo.</p>
        <h1 class="page__division"></h1>
      </div>
      <div id="help_me_cadastro_new_container" class="scroll_vertical popup__container--scroll principal_big margin_top">
        <span class="text secundario justify">Carregando...</span>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_help()">Parar</button>
    </footer>
  </div>
</section>


<section id="help_me_cadastro_change" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Assistente</h1>
    </header>

    <div class="popup__container--content">
      <div id="help_me_cadastro_change_msg">
        <p class="popup__text secundario justify"><> Chequei aqui e parece que você já possui vínculo com outra linha.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify"><> Mas deixa comigo, cuidarei de tudo! Selecione sua nova rota fixa:</p>
      </div>

      <div id="help_me_cadastro_change_msg_reload" class="inactive">
        <p class="popup__text secundario justify"><> Sem pressa! Procure a opção que melhor se encaixa em seu dia a dia.</p>
        <h1 class="page__division"></h1>
      </div>
      <div id="help_me_cadastro_change_container" class="scroll_vertical popup__container--scroll principal_big margin_top">
        <span class="text secundario justify">Carregando...</span>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_help()">Parar</button>
    </footer>
  </div>
</section>


<section id="help_me_cadastro_blocked" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Assistente</h1>
    </header>

    <div class="popup__container--content">
      <div id="help_me_cadastro_blocked_msg">
        <p class="popup__text secundario justify"><> Você preencheu apenas um dos seus pontos fixos. Não é possível definir pontos fixos em rotas diferentes.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify"><> Peço que defina os dois locais para que possamos prosseguir:</p>
      </div>
      
      <div id="help_me_cadastro_blocked_msg_reload" class="inactive">
        <p class="popup__text secundario justify"><> Lembre-se, os pontos fixos devem ser definidos na mesma rota.</p>
        <h1 class="page__division"></h1>
      </div>
      <div id="help_me_cadastro_blocked_container" class="scroll_vertical popup__container--scroll principal_big margin_top">
        <span class="text secundario justify">Carregando...</span>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_help()">Parar</button>
    </footer>
  </div>
</section>


<section id="help_me_cadastro_contraturno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Assistente</h1>
    </header>

    <div class="popup__container--content">
      <div id="help_me_cadastro_contraturno_msg">
        <p class="popup__text secundario justify"><> Estamos quase lá! Agora, escolha uma rota para ser o seu contraturno.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify"><> Estas são as opções disponíveis:</p>
      </div>

      <div id="help_me_cadastro_contraturno_msg_reload" class="inactive">
        <p class="popup__text secundario justify"><> Ficarei no aguardo! Lembre-se de que para definir o contraturno, basta clicar no botão "Definir Contraturno" ao final do pop-up da rota.</p>
        <h1 class="page__division"></h1>
      </div>

      <div class="scroll_vertical popup__container--scroll principal_big margin_top">
        <p id="op_1" class="popup__text secundario inactive"></p>
        <div id="op_1_container" class="inactive">
          <span class="text secundario justify">Carregando...</span>
        </div>

        <p id="op_2" class="popup__text secundario space inactive"></p>
        <div id="op_2_container" class="inactive">
          <span class="text secundario justify">Carregando...</span>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_help()">Parar</button>
    </footer>
  </div>
</section>


<section id="confirm_register_in_point" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Confirmação</h1>
    </header>

    <div class="popup__container--content">
      <div id="confirm_register_in_point_msg" class="inactive">
        <p class="popup__text secundario justify">Seu cadastro será efetuado neste ponto. Você será identificado(a) como participante da linha para os motoristas.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify">Os motoristas desta linha terão acesso às suas informações para fins didáticos de funcionamento e estatística.</p>
      </div>

      <div id="confirm_register_in_point_change" class="inactive">
        <p class="popup__text secundario justify">Você já possui um vínculo com este tipo de trajeto em outro ponto/rota desta linha. Ao prosseguir, este ponto será definido como novo local, e o vínculo anterior será removido.</p>
      </div>

      <div id="confirm_register_in_point_new_line" class="inactive">
        <p class="popup__text secundario justify">Você possui vínculo com outra linha. Ao prosseguir, todos os vínculos com a linha anterior serão removidos, e você será cadastrado(a) neste ponto, tornando-se participante desta linha.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify">Os motoristas desta linha terão acesso às suas informações para fins didáticos de funcionamento e estatística.</p>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('confirm_register_in_point')">Cancelar</button>
      <button class="popup__btn" onclick="register_in_point_fixed()">Confirmar</button>
    </footer>
  </div>
</section>


<section id="confirm_del_mypoint" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Confirmação</h1>
    </header>

    <div class="popup__container--content">
      <p class="popup__text secundario justify">Ao prosseguir, você irá remover o vínculo fixo selecionado. Esta ação retira a visualização de sua participação no trajeto especificado.</p>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('confirm_del_mypoint')">Cancelar</button>
      <button class="popup__btn" onclick="del_myPoint_fixed()">Confirmar</button>
    </footer>
  </div>
</section>


<section id="confirm_register_contraturno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Confirmação</h1>
    </header>

    <div class="popup__container--content">
      <div id="confirm_register_contraturno_msg" class="inactive">
        <p class="popup__text secundario justify">Seu cadastro de contraturno será efetuado neste ponto. Você será identificado(a) como participante nos registros de contraturno desta rota.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify">Os motoristas desta linha terão acesso às suas informações para fins didáticos de funcionamento e estatística.</p>
      </div>
      
      <div id="confirm_register_contraturno_change" class="inactive">
        <p class="popup__text secundario justify">Você já possui um vínculo de contraturno em outra rota desta linha. Ao proseguir, o ponto desta rota será definido como novo local, e o vínculo anterior será removido.</p>
      </div>

      <div id="confirm_register_contraturno_new_line" class="inactive">
        <p class="popup__text secundario justify">Você já possui um vínculo de contraturno em outra linha. Ao prosseguir, todos os vínculos com a linha anterior serão removidos, e este ponto será definido como seu novo ponto de contraturno, tornando você participante desta linha.</p>
        <h1 class="page__division"></h1>
        <p class="popup__text secundario justify">Os motoristas desta linha terão acesso às suas informações para fins didáticos de funcionamento e estatística.</p>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('confirm_register_contraturno')">Cancelar</button>
      <button class="popup__btn" onclick="register_in_point_contraturno()">Confirmar</button>
    </footer>
  </div>
</section>


<section id="options_contraturno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Opções de Contraturno</h1>
    </header>

    <div class="popup__container--content">
      <p class="text info justify margin_bottom">Selecione seu ponto para contraturno:</p>
      <div class="scroll_vertical popup__container--scroll principal_big">
        <div id="options_contraturno_container_partida" class="inactive">
          <p class="text secundario">~> Partida</p>
          <div></div>
        </div>
        
        <h1 id="options_contraturno_division" class="page__division inactive"></h1>
        <div id="options_contraturno_container_retorno" class="inactive">
          <p class="text secundario">~> Retorno</p>
          <div></div>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('options_contraturno')">Voltar</button>
      <button class="popup__btn" onclick="confirm_register_in(true)">Cadastrar</button>
    </footer>
  </div>
</section>


<section id="confirm_del_mycontraturno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Confirmação</h1>
    </header>

    <div class="popup__container--content">
      <p class="popup__text secundario justify">Ao prosseguir, você irá remover seu vínculo de contraturno. Esta ação retira a visualização de sua participação no trajeto especificado.</p>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('confirm_del_mycontraturno')">Cancelar</button>
      <button class="popup__btn" onclick="del_myPoint_contraturno()">Confirmar</button>
    </footer>
  </div>
</section>


<section id="sched_daily" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Agendamento</h1>
    </header>

    <div class="popup__container--content">
      <div class="scroll_vertical init_top no_borderY popup__container--scroll principal_max">
        <p class="text secundario fundo margin_bottom">Estes pontos são os mesmos da rota atual.</p>

        <h3 class="popup__text question first">Agendar partida?</h3>
        <div id="sched_daily_op_partida" class="popup__container--options">
          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-circle popup__icon ratio"></i>
            <p class="popup__text content input">Sim</p>
          </div>

          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
            <p class="popup__text content input">Não</p>
          </div>
        </div>

        <h3 id="sched_daily_op_partida_title" class="popup__text info space inactive">Selecione o local:</h3>
        <div id="sched_daily_op_partida_container"
          class="scroll_vertical popup__container--scroll inactive"></div>

        <h3 class="popup__text question">Agendar retorno?</h3>
        <div id="sched_daily_op_retorno" class="popup__container--options">
          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-circle popup__icon ratio"></i>
            <p class="popup__text content input">Sim</p>
          </div>

          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
            <p class="popup__text content input">Não</p>
          </div>
        </div>

        <h3 id="sched_daily_op_retorno_title" class="popup__text info space inactive">Selecione o local:</h3>
        <div id="sched_daily_op_retorno_container"
          class="scroll_vertical popup__container--scroll inactive"></div>

        <h1 class="page__division"></h1>
        <h3 class="popup__text question first">Quando será a diária?</h3>
        <form id="formulario_sched_daily" class="margin_bottom" onsubmit="agendar_diaria()">
          <input id="sched_daily_date" class="form__input input_notIcon white" type="date"
            required>
        </form>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('sched_daily')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_sched_daily')">Agendar</button>
    </footer>
  </div>
</section>
