<section id="edit_valor_cartela_line" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar valor</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Digite o valor da cartela:</h2>
      <form id="formulario_edit_valor_cartela" class="form__container--card max_width"
        onsubmit="edit_line(this, event)">
        <div class="form__container--input first">
          <input id="edit_valor_cartela_line_new" class="form__input white input_notIcon" type="number" step="0.01">
          <label class="form__label intense label_notIcon" for="edit_valor_cartela_line_new">Novo valor</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_valor_cartela_line')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_valor_cartela')">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_valor_diaria_line" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar valor</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Digite o valor da diária:</h2>
      <form id="formulario_edit_valor_diaria" class="form__container--card max_width" onsubmit="edit_line(this, event)">
        <div class="form__container--input first">
          <input id="edit_valor_diaria_line_new" class="form__input white input_notIcon" type="number" step="0.01">
          <label class="form__label intense label_notIcon" for="edit_valor_diaria_line_new">Novo valor</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_valor_diaria_line')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_valor_diaria')">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_vehicle_capacidade" class="popup__container--shadow inactive">
  <span class="inactive"></span>
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar capacidade</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text"></h2>
      <form id="formulario_edit_vehicle_capacidade" class="form__container--card max_width"
        onsubmit="edit_capacidade_veiculo(event)">
        <div class="form__container--input first">
          <input id="edit_vehicle_capacidade_new" class="form__input white input_notIcon" type="number" min="1"
            required>
          <label class="form__label intense label_notIcon" for="edit_vehicle_capacidade_new">Capacidade</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_vehicle_capacidade')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_vehicle_capacidade')">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_vehicle_surname" class="popup__container--shadow inactive">
  <span class="inactive"></span>
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar apelido</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text"></h2>
      <form id="formulario_edit_vehicle_surname" class="form__container--card max_width"
        onsubmit="edit_surname_vehicle(event)">
        <div class="form__container--input first">
          <input id="edit_vehicle_surname_new" class="form__input white input_notIcon" type="text" maxlength="15"
            required>
          <label class="form__label intense label_notIcon" for="edit_vehicle_surname_new">Novo apelido</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_vehicle_surname')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_vehicle_surname')">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_vehicle_motorista" class="popup__container--shadow inactive">
  <span class="inactive"></span>
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Definir motorista</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text"></h2>
      <div id="edit_vehicle_motorista_container" class="scroll_vertical popup__container--scroll">
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_vehicle_motorista')">Cancelar</button>
      <button class="popup__btn" onclick="edit_motorista_veiculo()">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_aparence_cor" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar cor</h1>
    </header>

    <div class="popup__container--content">
      <form id="formulario_edit_aparence_cor" class="form__container--card max_width"
        onsubmit="edit_aparence(this, event)">
        <div class="form__container--input first">
          <input id="edit_aparence_cor_new" class="form__input white input_notIcon" type="text"
            required>
          <label class="form__label intense label_notIcon" for="edit_aparence_cor_new">Nova cor</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_aparence_cor')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_aparence_cor')">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_aparence_modelo" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar modelo</h1>
    </header>

    <div class="popup__container--content">
      <form id="formulario_edit_aparence_modelo" class="form__container--card max_width"
        onsubmit="edit_aparence(this, event)">
        <div class="form__container--input first">
          <input id="edit_aparence_modelo_new" class="form__input white input_notIcon" type="text" required>
          <label class="form__label intense label_notIcon" for="edit_aparence_modelo_new">Modelo</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_aparence_modelo')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_aparence_modelo')">Salvar</button>
    </footer>
  </div>
</section>


<section id="del_vehicle" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Excluir Veículo</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="text secundario justify">Ao proseguir, você irá excluir permanentemente:</h4>
      <h2 id="del_vehicle_surname" class="popup__text emphasis"></h2>
      <h4 class="text secundario justify">O motorista associado a este veículo ficará sem relação, e as rotas relacionadas serão desativadas.</h4>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('del_vehicle')">Cancelar</button>
      <button class="popup__btn" onclick="del_vehicle()">Excluir</button>
    </footer>
  </div>
</section>


<section id="del_route" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Excluir rota</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="text secundario justify">Ao prosseguir, você irá excluir permanentemente esta rota. Todos os alunos, pontos e vínculos com veículos cadastrados serão removidos.</h4>

      <form id="formulario_del_route" class="form__container--card max_width" onsubmit="del_route(event)">
        <h1 class="page__division"></h1>
        <h3 class="popup__text info space">Confirme a exclusão com sua senha:</h3>
        <div class="form__container--input first">
          <input id="del_route_conf" class="form__input input_password white input_notIcon" type="password" required>
          <i id="del_route_btn_password" class="bi bi-eye-fill form__btn--password white"
            onclick="animateIconPassword(this)"></i>
          <label class="form__label intense label_notIcon" for="del_route_conf">Senha de confirmação</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('del_route')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_del_route')">Excluir</button>
    </footer>
  </div>
</section>


<section id="del_relationship_point_route" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Remover Relação Ponto</h1>
    </header>

    <div class="popup__container--content">
      <p class="text secundario justify">Ao proseguir, você irá excluir permanentemente a relação deste ponto no trajeto especificado. Todos os alunos cadastrados serão removidos e a ordem do trajeto será alterada.</p>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('del_relationship_point_route')">Cancelar</button>
      <button class="popup__btn" onclick="del_relationship_point_route()">Excluir</button>
    </footer>
  </div>
</section>


<section id="add_vehicle" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Adicionar veículo</h1>
    </header>

    <div class="popup__container--content">
      <div class="scroll_vertical popup__container--scroll principal_big">
        <form id="formulario_add_vehicle" class="form__container--card max_width" onsubmit="create_vehicle()">
          <h3 class="popup__text info margin_bottom">Defina como seu veículo será chamado:</h3>
          <div class="form__container--input first">
            <input id="add_vehicle_surname" class="form__input white input_notIcon" type="text" maxlength="15" required>
            <label class="form__label intense label_notIcon" for="add_vehicle_surname">Apelido</label>
          </div>

          <h1 class="page__division"></h1>
          <h3 class="popup__text info margin_bottom">Informações principais:</h3>
          <div class="form__container--input first">
            <input id="add_vehicle_capacidade" class="form__input white input_notIcon" type="text" min="1" required>
            <label class="form__label intense label_notIcon" for="add_vehicle_capacidade">Capacidade</label>
          </div>

          <div class="form__container--input">
            <input id="add_vehicle_cor" class="form__input white input_notIcon" type="text" required>
            <label class="form__label intense label_notIcon" for="add_vehicle_cor">Cor do veículo</label>
          </div>

          <div class="form__container--input">
            <input id="add_vehicle_modelo" class="form__input white input_notIcon" type="text" required>
            <label class="form__label intense label_notIcon" for="add_vehicle_modelo">Modelo</label>
          </div>

          <h1 class="page__division"></h1>
          <h3 class="popup__text info margin_bottom">(Opcional) Além da cor e do modelo, forneça mais características da aparência do veículo aos participantes:</h3>
          <div class="form__container--input first">
            <textarea id="add_vehicle_descricao" class="form__textarea" cols="30" rows="4" maxlength="255"></textarea>
          </div>

          <h1 class="page__division"></h1>
          <h3 class="popup__text question first">Deseja definir um motorista agora?</h3>
          <div id="add_vehicle_options" class="popup__container--options">
            <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
              <i class="bi bi-circle popup__icon ratio"></i>
              <p class="popup__text content input">Sim</p>
            </div>

            <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
              <i class="bi bi-check2-circle popup__icon ratio selected"></i>
              <p class="popup__text content input">Não</p>
            </div>
          </div>

          <h3 id="add_vehicle_options_title" class="popup__text info space inactive">Selecione o motorista:</h3>
          <div id="add_vehicle_options_container"
            class="scroll_vertical popup__container--scroll inactive"></div>
        </form>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('add_vehicle', true)">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_add_vehicle')">Adicionar</button>
    </footer>
  </div>
</section>


<section id="add_point" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Criar Ponto</h1>
    </header>

    <div class="popup__container--content">
      <div class="scroll_vertical popup__container--scroll principal_max">
        <p class="text secundario fundo justify">Recomendamos que o nome do ponto seja o mais curto possível para facilitar sua identificação e funcionamento.</p>
        <h1 class="page__division"></h1>

        <form id="formulario_add_point" class="form__container--card max_width" onsubmit="create_point(event)">
          <div class="form__container--input first">
            <input id="add_point_nome" class="form__input white input_notIcon" type="text" required>
            <label class="form__label intense label_notIcon" for="add_point_nome">Nome</label>
          </div>

          <div class="form__container--input">
            <input id="add_point_tolerancia" class="form__input white input_notIcon" type="number" min="1" max="15">
            <label class="form__label intense label_notIcon" for="add_point_tolerancia">Tolerância (Opcional)</label>
          </div>

          <div class="form__container--input">
            <input id="add_point_gps" class="form__input white input_notIcon" type="text">
            <label class="form__label intense label_notIcon" for="add_point_gps">Link GPS (Opcional)</label>
          </div>
        </form>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('add_point')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_add_point')">Criar</button>
    </footer>
  </div>
</section>


<section id="add_point_route" class="popup__container--shadow inactive">
  <span id="add_point_route_type" class="inactive"></span>
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Adicionar ponto ao trajeto</h1>
    </header>

    <div class="popup__container--content">
      <div class="scroll_vertical popup__container--scroll principal_max">
        <h3 class="popup__text question first">Selecione o novo ponto da rota:</h3>

        <div id="add_point_route_btn" class="page__container interaction pos_relative" onclick="action_container(this)">
          <h3 class="text secundario fundo max_width">Pontos disponíveis</h3>
          <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
        </div>

        <div id="add_point_route_container" class="scroll_vertical popup__container--scroll margin_top inactive"></div>

        <h3 class="popup__text question">Selecione o horário de passagem:</h3>
        <h4 class="popup__text info">(OBS) Este horário refere-se ao momento de passagem deste ponto no trajeto desta
          rota.</h4>
        <form id="formulario_add_point_route" class="form__container--card max_width" onsubmit="create_stop(event)">
          <div class="form__container--input first">
            <input id="add_point_route_horario" class="form__input white input_notIcon time" type="time" required>
            <label class="form__label intense label_notIcon" for="add_point_route_horario">Horário de passagem</label>
          </div>
        </form>

        <h3 class="popup__text question min_space_top">Deseja adicionar este ponto ao trajeto inverso?</h3>
        <div id="add_point_route_options" class="popup__container--options">
          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-circle  popup__icon ratio"></i>
            <p class="popup__text content input">Sim</p>
          </div>

          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
            <p class="popup__text content input">Não</p>
          </div>
        </div>

        <h3 id="add_point_route_options_title" class="popup__text info space inactive">Defina o horário deste ponto no
          trajeto inverso:</h3>
        <div id="add_point_route_options_container" class="inactive">
          <div class="form__container--input first">
            <input id="add_point_route_horario_inverso" class="form__input white input_notIcon time" type="time">
            <label class="form__label intense label_notIcon" for="add_point_route_horario_inverso">Horário de
              passagem</label>
          </div>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('add_point_route', true)">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_add_point_route')">Adicionar</button>
    </footer>
  </div>
</section>


<section id="add_route" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Criar Rota</h1>
    </header>

    <div class="popup__container--content">
      <div class="scroll_vertical popup__container--scroll principal_max">
        <form id="formulario_add_route" class="form__container--card max_width" onsubmit="create_route(event)">
          <div class="form__container--input_options">
            <div class="form__container--input first">
              <input id="add_route_turno" class="form__input white input_notIcon format_options format_name" type="text"
                name="turno" required>
              <label class="form__label label_notIcon intense" for="add_route_turno">Turno</label>
            </div>

            <ul class="form__container--ul white inactive">
              {% for turno in turnos %}
              <li class="form__option">{{ turno }}</li>
              {% endfor %}
            </ul>
          </div>

          <h3 class="popup__text question">Defina os horários base:</h3>
          <p class="text secundario fundo justify">Estes horários indicam quando a rota estará em funcionamento.</p>
          <div class="form__container--input">
            <input id="add_route_horario_partida" class="form__input white input_notIcon time" type="time"
              name="horario_partida" required>
            <label class="form__label intense label_notIcon" for="add_route_horario_partida">Horário de partida</label>
          </div>

          <div class="form__container--input">
            <input id="add_route_horario_retorno" class="form__input white input_notIcon time" type="time"
              name="horario_retorno" required>
            <label class="form__label intense label_notIcon" for="add_route_horario_retorno">Horário de retorno</label>
          </div>

          <h3 class="popup__text question">Deseja definir o veículo agora?</h3>
          <div id="add_route_options" class="popup__container--options">
            <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
              <i class="bi bi-circle  popup__icon ratio"></i>
              <p class="popup__text content input">Sim</p>
            </div>

            <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
              <i class="bi bi-check2-circle popup__icon ratio selected"></i>
              <p class="popup__text content input">Não</p>
            </div>
          </div>

          <h3 id="add_route_options_title" class="popup__text info space inactive">Selecione o veículo da rota:</h3>
          <div id="add_route_options_container"
            class="scroll_vertical popup__container--scroll inactive"></div>
        </form>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('add_route', true, 'Não')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_add_route')">Criar</button>
    </footer>
  </div>
</section>


<section id="config_motorista" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 id="config_motorista_nome" class="popup__title">Carregando...</h1>
    </header>

    <div class="popup__container--content center_itens">
      <div class="line__container--btn add" onclick="open_popup('promover_motorista', this)">
        <p id="config_motorista_promover" class="line__text">Promover a administrador</p>
      </div>

      <div class="line__container--btn add inactive" onclick="open_popup('rebaixar_motorista', this)">
        <p id="config_motorista_rebaixar" class="line__text">Rebaixar a participante</p>
      </div>

      <div class="line__container--btn remove" onclick="open_popup('remover_motorista', this)">
        <p id="config_motorista_remover" class="line__text remove">Remover da linha</p>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_popup('config_motorista')">Fechar</button>
    </footer>
  </div>
</section>


<section id="config_line" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header pos_relative">
      <h1 id="config_line_nome" class="popup__title">Carregando...</h1>
      <i id="config_line_edit_nome" class="bi bi-pencil-square page__icon card title"
        onclick="open_popup('edit_nome_line', this)"></i>
    </header>

    <div class="popup__container--content">
      <div class="page__container">
        <p class="text secundario fundo">Cidade:</p>
        <p id="config_line_cidade" class="text secundario content fundo">Carregando...</p>
        <i id="config_line_edit_cidade" class="bi bi-pencil-square page__icon content"
          onclick="open_popup('edit_cidade_line')"></i>
      </div>

      <h3 class="popup__text question">Linha de férias?</h3>
      <div id="config_line_options_ferias" class="popup__container--options">
        <div class="popup__input checkbox bool" onclick="edit_config_line_bool(this)">
          <i class="bi bi-circle popup__icon ratio"></i>
          <p class="popup__text content input">Sim</p>
        </div>

        <div class="popup__input checkbox bool" onclick="edit_config_line_bool(this)">
          <i class="bi bi-check2-circle popup__icon ratio selected"></i>
          <p class="popup__text content input">Não</p>
        </div>
      </div>

      <h3 class="popup__text question">Linha paga?</h3>
      <div id="config_line_options_gratuidade" class="popup__container--options">
        <div class="popup__input checkbox bool" onclick="edit_config_line_bool(this)">
          <i class="bi bi-check2-circle popup__icon ratio selected"></i>
          <p class="popup__text content input">Sim</p>
        </div>

        <div class="popup__input checkbox bool" onclick="edit_config_line_bool(this)">
          <i class="bi bi-circle popup__icon ratio"></i>
          <p class="popup__text content input">Não</p>
        </div>
      </div>

      <h1 class="page__division"></h1>
      <div class="page__container justify">
        <div class="line__container--btn remove" onclick="open_popup('del_linha', this)">
          <i class="bi bi-trash3 line__icon del"></i>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_popup('config_line')">Fechar</button>
    </footer>
  </div>
</section>


<section id="config_point" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header pos_relative">
      <h1 id="config_point_nome" class="popup__title">Carregando...</h1>
      <i id="config_point_nome_edit" class="bi bi-pencil-square page__icon card title inactive"
        onclick="open_popup('edit_point_nome', this)"></i>
    </header>

    <div class="popup__container--content">
      <div class="scroll_vertical popup__container--scroll principal_max">
        <div class="page__container">
          <p class="text secundario fundo">Tempo tolerância:</p>
          <div class="text secundario fundo">
            <p id="config_point_tempo_tolerancia" class="text secundario container content space">...</p>
            <p class="text secundario fundo container content">min</p>
          </div>
          <i id="config_point_tempo_tolerancia_edit" class="bi bi-pencil-square page__icon content inactive"
            onclick="open_popup('edit_point_tempo_tolerancia', this)"></i>
        </div>

        <div class="page__container">
          <p class="text secundario fundo nowrap">Link GPS:</p>
          <div class="scroll_horizontal">
            <p id="config_point_linkGPS" class="text secundario nowrap content fundo">Carregando...</p>
          </div>
          <i id="config_point_linkGPS_edit" class="bi bi-pencil-square page__icon content inactive"
            onclick="open_popup('edit_point_linkGPS', this)"></i>
        </div>

        <div id="config_point_utilizacao_btn" class="page__container interaction pos_relative"
          onclick="action_container(this)">
          <h3 class="text secundario emphasis">Utilização</h3>
          <p class="text secundario fundo max_width">Carregando...</p>
          <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
        </div>

        <div id="config_point_utilizacao_container"
          class="scroll_vertical popup__container--scroll inactive"></div>

        <h3 class="popup__text question">Alunos</h3>
        <p class="text secundario fundo justify">Um aluno pode ter mais de um cadastro nestes registros.</p>
        {% for turno in turnos %}
        <div id="config_point_{{ turno }}_btn" class="page__container interaction pos_relative"
          onclick="action_container(this)">
          <h3 class="text secundario emphasis">{{ turno }}</h3>
          <p class="text secundario fundo max_width">Carregando...</p>
          <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
        </div>

        <div id="config_point_{{ turno }}_container" class="inactive">
          <div id="config_point_{{ turno }}_area" class="scroll_vertical popup__container--scroll space"></div>

          <p class="text info emphasis justify">Marcou como contraturno</p>
          <div id="config_point_{{ turno }}_area_contraturno" class="scroll_vertical popup__container--scroll space">
          </div>
        </div>
        {% endfor %}

        <div id="config_point_delete">
          <h1 class="page__division"></h1>
          <div class="page__container justify">
            <div class="line__container--btn remove" onclick="open_popup('del_ponto', this)">
              <i class="bi bi-trash3 line__icon del"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_popup('config_point')">Fechar</button>
    </footer>
  </div>
</section>


<section id="config_aluno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header pos_relative">
      <h1 class="popup__title">Dados do Aluno</h1>
    </header>

    <div class="popup__container--content">
      <p class="text secundario justify">Estes dados são confidenciais e só podem ser visualizados pelos motoristas que fazem parte desta linha.</p>
      <h1 class="page__division"></h1>
      <div class="scroll_vertical popup__container--scroll principal_big">
        <div class="page__container">
          <p class="text secundario emphasis">Nome</p>
          <div class="scroll_horizontal">
            <p id="config_aluno_nome" class="text secundario nowrap content fundo">Carregando...</p>
          </div>
          <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
        </div>

        <div class="page__container">
          <p class="text secundario emphasis">Telefone</p>
          <p id="config_aluno_telefone" class="text secundario content fundo">Carregando...</p>
          <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
        </div>

        <div class="page__container">
          <p class="text secundario emphasis">Curso</p>
          <p id="config_aluno_curso" class="text secundario content fundo">Carregando...</p>
          <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
        </div>

        <div class="page__container">
          <p class="text secundario emphasis">Turno</p>
          <p id="config_aluno_turno" class="text secundario content fundo">Carregando...</p>
          <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
        </div>

        <h1 class="page__division"></h1>
        <div id="config_aluno_btn" class="page__container interaction pos_relative" onclick="action_container(this)">
          <h3 class="text secundario fundo">Tickets</h3>
          <h3 id="config_aluno_qnt_tickets" class="text secundario fundo max_width">Em desenvolvimento</h3>
          <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
        </div>

        <div id="config_aluno_container" class="scroll_vertical popup__container--scroll inactive"></div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn" onclick="close_popup('config_aluno')">Fechar</button>
    </footer>
  </div>
</section>


<section id="promover_motorista" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Promover motorista</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="popup__text info">Ao proseguir, você irá promover a administrador:</h4>
      <h2 id="promover_motorista_nome" class="popup__text emphasis"></h2>
      <h4 class="popup__text info">Este motorista será capaz de criar, apagar ou modificar informações, tais como
        valores, veículos, pontos, rotas e tickets relacionados à linha.</h4>
      <h1 class="page__division"></h1>
      <h4 class="popup__text info">Apenas você permanecerá com a capacidade de promover ou rebaixar outros motoristas e
        fazer alterações significativas na linha.</h4>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('promover_motorista')">Cancelar</button>
      <button class="popup__btn">Promover</button>
    </footer>
  </div>
</section>


<section id="rebaixar_motorista" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Rebaixar motorista</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="popup__text info">Ao proseguir, você irá rebaixar a participante:</h4>
      <h2 id="rebaixar_motorista_nome" class="popup__text emphasis"></h2>
      <h4 class="popup__text info">Este motorista não será mais capaz de modificar informações da linha.</h4>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('rebaixar_motorista')">Cancelar</button>
      <button class="popup__btn">Rebaixar</button>
    </footer>
  </div>
</section>


<section id="transfer_by_defect_info" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Marcar defeito</h1>
    </header>

    <div class="popup__container--content">
      <span id="transfer_by_defect_info_vehicle" class="inactive"></span>
      <h1 class="text secundario fundo cinza margin_bottom justify">Importante!</h1>
      <p class="text secundario margin_bottom justify">Para marcar um veículo como defeituoso, você precisa definir os veículos-alvo para que todos os alunos deste transporte sejam transferidos e comunicados sobre o problema.</p>
      <p class="text secundario justify">É de extrema importância que os veículos escolhidos tenham capacidade suficiente para todos os usuários do transporte atual. Caso contrário, o sistema não conseguirá transferir todos os alunos.</p>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('transfer_by_defect_info')">Cancelar</button>
      <button class="popup__btn" onclick="config_popup_defect()">Proseguir</button>
    </footer>
  </div>
</section>


<section id="transfer_by_defect" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Marcar defeito</h1>
    </header>

    <div class="popup__container--content">
      <div class="scroll_vertical init_top no_borderY popup__container--scroll principal_max">
        <h1 class="text secundario fundo justify">Certifique-se de informar os motoristas dos veículos selecionados antes de realizar essa ação.</h1>
        <h1 class="page__division"></h1>

        <h3 class="popup__text question first">Selecione os turnos afetados:</h3>
        <div id="transfer_by_defect_shifts_container">
          {% for index in range(3) %}
          <div class="popup__input checkbox{{' margin_bottom' if index != 2 else ''}}" onclick="popup_confirmBox(this)">
            <i class="bi bi-circle popup__icon ratio"></i>
            <p class="popup__text input nowrap">{{ turnos[index] }}</p>
          </div>
          {% endfor %}
        </div>

        <h3 class="popup__text question">Selecione os veículos-alvo:</h3>
        <div id="transfer_by_defect_veiculo_btn" class="page__container interaction pos_relative" onclick="action_container(this)">
          <h3 class="text secundario fundo max_width">Veículos disponíveis</h3>
          <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
        </div>
  
        <div id="transfer_by_defect_veiculo_container" class="scroll_vertical popup__container--scroll margin_top inactive">
          <span class="text secundario emphasis justify">Carregando...</span>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('transfer_by_defect')">Voltar</button>
      <button class="popup__btn" onclick="migrate_by_defect()">Marcar</button>
    </footer>
  </div>
</section>


<section id="remove_transfer_by_defect" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Desmarcar defeito</h1>
    </header>

    <div class="popup__container--content">
      <span id="remove_transfer_by_defect_vehicle" class="inactive"></span>
      <p class="text secundario fundo justify">Ao desmarcar o defeito do veículo, a transferência automática de participantes será desativada e o transporte voltará ao funcionamento normal.</p>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('remove_transfer_by_defect')">Voltar</button>
      <button class="popup__btn" onclick="remove_migrate_by_defect()">Desmarcar</button>
    </footer>
  </div>
</section>


<section id="remover_motorista" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Remover motorista</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="popup__text info">Ao proseguir, você irá remover da linha:</h4>
      <h2 id="remover_motorista_nome" class="popup__text emphasis"></h2>
      <h4 class="popup__text info">Todas as relações deste motorista serão desfeitas e ele não participará mais desta
        linha.</h4>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('remover_motorista')">Cancelar</button>
      <button class="popup__btn">Remover</button>
    </footer>
  </div>
</section>


<section id="edit_nome_line" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar nome da linha</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Digite o novo nome da linha:</h2>
      <form id="formulario_edit_line_nome" class="form__container--card max_width" onsubmit="edit_line(this, event)">
        <div class="form__container--input first">
          <input id="edit_nome_line_new" class="form__input white input_notIcon" type="text" required>
          <label class="form__label intense label_notIcon" for="edit_nome_line_new">Novo nome</label>
        </div>

        <h1 class="page__division"></h1>
        <h3 class="popup__text info space">Confirme a alteração com sua senha:</h3>
        <div class="form__container--input first">
          <input id="edit_nome_line_conf" class="form__input input_password white input_notIcon" type="password"
            required>
          <i id="edit_nome_line_btn_password" class="bi bi-eye-fill form__btn--password white"
            onclick="animateIconPassword(this)"></i>
          <label class="form__label intense label_notIcon" for="edit_nome_line_conf">Senha de confirmação</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_nome_line')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_line_nome')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_cidade_line" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar cidade da linha</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Digite o nome da cidade:</h2>
      <form id="formulario_edit_line_cidade" class="form__container--card max_width" onsubmit="edit_line(this, event)">
        <div class="form__container--input_options">
          <div class="form__container--input first">
            <input id="edit_cidade_line_new" class="form__input input_notIcon white format_options format_name"
              type="text" name="cidade" required>
            <label class="form__label label_notIcon intense" for="edit_cidade_line_new">Cidade</label>
          </div>

          <ul class="form__container--ul white inactive">
            {% for cidade in cidades %}
            <li class="form__option">{{ cidade }}</li>
            {% endfor %}
          </ul>
        </div>

        <h1 class="page__division"></h1>
        <h3 class="popup__text info space">Confirme a alteração com sua senha:</h3>
        <div class="form__container--input first">
          <input id="edit_cidade_line_conf" class="form__input input_password white input_notIcon" type="password"
            required>
          <i id="edit_cidade_line_btn_password" class="bi bi-eye-fill form__btn--password white"
            onclick="animateIconPassword(this)"></i>
          <label class="form__label intense label_notIcon" for="edit_cidade_line_conf">Senha de confirmação</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_cidade_line')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_line_cidade')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_point_nome" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar nome do ponto</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Digite o novo nome do ponto:</h2>
      <form id="formulario_edit_point_nome" class="form__container--card max_width" onsubmit="edit_point(this, event)">
        <div class="form__container--input first">
          <input id="edit_new_nome_ponto" class="form__input white input_notIcon" type="text" required>
          <label class="form__label intense label_notIcon" for="edit_new_nome_ponto">Novo nome</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_point_nome')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_point_nome')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_point_tempo_tolerancia" class="popup__container--shadow inactive">
  <span class="inactive"></span>
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar tolerância</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Digite o novo tempo de tolerância:</h2>
      <form id="formulario_edit_point_tempo_tolerancia" class="form__container--card max_width"
        onsubmit="edit_point(this, event)">
        <div class="form__container--input first">
          <input id="edit_new_tolerancia_ponto" class="form__input white input_notIcon" type="number" min="1" max="15"
            required>
          <label class="form__label intense label_notIcon" for="edit_new_tolerancia_ponto">Tempo tolerância</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_point_tempo_tolerancia')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_point_tempo_tolerancia')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_point_linkGPS" class="popup__container--shadow inactive">
  <span class="inactive"></span>
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Definir GPS</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Digite o Link GPS:</h2>
      <form id="formulario_edit_point_linkGPS" class="form__container--card max_width"
        onsubmit="edit_point(this, event)">
        <div class="form__container--input first">
          <input id="edit_new_gps_ponto" class="form__input white input_notIcon" type="text" required>
          <label class="form__label intense label_notIcon" for="edit_new_gps_ponto">Link GPS</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_point_linkGPS')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_point_linkGPS')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_route_partida" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Alterar horário</h1>
    </header>

    <div class="popup__container--content">
      <form id="formulario_edit_route_partida" class="form__container--card max_width"
        onsubmit="edit_route(this, event)">
        <h2 class="popup__text">Digite o novo horário de partida da rota:</h2>
        <div class="form__container--input first">
          <input id="edit_route_partida_new" class="form__input white input_notIcon time" type="time" required>
          <label class="form__label intense label_notIcon" for="edit_route_partida_new">Horário</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_route_partida')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_route_partida')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_route_retorno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Alterar horário</h1>
    </header>

    <div class="popup__container--content">
      <form id="formulario_edit_route_retorno" class="form__container--card max_width"
        onsubmit="edit_route(this, event)">
        <h2 class="popup__text">Digite o novo horário de retorno da rota:</h2>
        <div class="form__container--input first">
          <input id="edit_route_retorno_new" class="form__input first white input_notIcon time" type="time" required>
          <label class="form__label intense label_notIcon" for="edit_route_retorno_new">Horário</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_route_retorno')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_route_retorno')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_route_onibus" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Alterar veículo</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Selecione o novo veículo da rota:</h2>
      <div id="edit_route_onibus_container"
        class="scroll_vertical popup__container--scroll principal"></div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_route_onibus')">Cancelar</button>
      <button id="edit_route_onibus" class="popup__btn" onclick="edit_route(this)">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_route_turno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar turno</h1>
    </header>

    <div class="popup__container--content">
      <form id="formulario_edit_route_turno" class="form__container--card max_width" onsubmit="edit_route(this, event)">
        <h2 class="popup__text">Defina o novo turno:</h2>
        <div class="form__container--input_options">
          <div class="form__container--input first">
            <input id="edit_route_turno_new" class="form__input white input_notIcon format_options format_name"
              type="text" name="turno" required>
            <label class="form__label label_notIcon intense" for="edit_route_turno_new">Turno</label>
          </div>

          <ul class="form__container--ul white inactive">
            {% for turno in turnos %}
            <li class="form__option">{{ turno }}</li>
            {% endfor %}
          </ul>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_route_turno')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_route_turno')">Alterar</button>
    </footer>
  </div>
</section>


<section id="edit_horario_relacao_ponto_rota" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar horário</h1>
    </header>

    <div class="popup__container--content">
      <form id="formulario_edit_horario_relacao_ponto_rota" class="form__container--card max_width"
        onsubmit="edit_horario_relationship()">
        <h2 class="popup__text">Digite o novo horário em que o ônibus passa neste ponto:</h2>
        <div class="form__container--input">
          <input id="edit_horario_relacao_ponto_rota_new_horario" class="form__input white input_notIcon time"
            type="time" required>
          <label class="form__label intense label_notIcon"
            for="edit_horario_relacao_ponto_rota_new_horario">Horário</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_horario_relacao_ponto_rota')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_edit_horario_relacao_ponto_rota')">Alterar</button>
    </footer>
  </div>
</section>


<section id="del_linha" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Excluir linha</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="text secundario justify">Ao proseguir, você irá excluir permanentemente:</h4>
      <h2 id="del_linha_nome" class="popup__text emphasis"></h2>
      <h4 class="text secundario justify">Tudo referente a esta linha será excluido. Os motoristas e alunos relacionados serão removidos.</h4>

      <h1 class="page__division"></h1>
      <form id="formulario_del_linha" class="form__container--card max_width" onsubmit="del_line(event)">
        <h3 class="popup__text info space">Confirme a exclusão com sua senha:</h3>
        <div class="form__container--input first">
          <input id="del_linha_conf" class="form__input input_password white input_notIcon" type="password" required>
          <i id="del_linha_btn_password" class="bi bi-eye-fill form__btn--password white"
            onclick="animateIconPassword(this)"></i>
          <label class="form__label intense label_notIcon" for="del_linha_conf">Senha de confirmação</label>
        </div>
      </form>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('del_linha')">Cancelar</button>
      <button class="popup__btn" onclick="submit('formulario_del_linha')">Excluir</button>
    </footer>
  </div>
</section>


<section id="del_ponto" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Excluir ponto</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="text secundario justify">Ao proseguir, você irá excluir permanentemente:</h4>
      <h2 id="del_ponto_nome" class="popup__text emphasis"></h2>
      <h4 class="text secundario justify">Os alunos cadastrados serão removidos, e a sequência das rotas que contêm este ponto será alterada.</h4>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('del_ponto')">Cancelar</button>
      <button class="popup__btn" onclick="del_point(event)">Excluir</button>
    </footer>
  </div>
</section>


<section id="edit_calendar" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 id="edit_calendar_title" class="popup__title"></h1>
    </header>

    <div class="popup__container--content">
      <div class="page__container">
        <h3 class="popup__text question first">Linha em funcionamento?</h3>
        <i id="edit_calendar_blocked_funcionamento" class="bi bi-person-lock popup__text question first" style="border: none;"></i>
      </div>
      <div id="edit_calendar_options_funcionando" class="popup__container--options">
        <div class="popup__input checkbox bool">
          <i class="bi bi-check2-circle popup__icon ratio selected"></i>
          <p class="popup__text content input">Sim</p>
        </div>
        
        <div class="popup__input checkbox bool">
          <i class="bi bi-circle popup__icon ratio"></i>
          <p class="popup__text content input">Não</p>
        </div>
      </div>

      <h3 class="popup__text question">Este dia é feriado?</h3>
      <div id="edit_calendar_options_feriado" class="popup__container--options">
        <div class="popup__input checkbox bool">
          <i class="bi bi-circle popup__icon ratio"></i>
          <p class="popup__text content input">Sim</p>
        </div>
        
        <div class="popup__input checkbox bool">
          <i class="bi bi-check2-circle popup__icon ratio selected"></i>
          <p class="popup__text content input">Não</p>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_calendar')">Cancelar</button>
      <button class="popup__btn" onclick="edit_calendar()">Salvar</button>
    </footer>
  </div>
</section>
