<section id="edit_ponto" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Editar ponto</h1>
    </header>

    <div class="popup__container--content">
      <h4 class="popup__text info margin_bottom">(OBS) Esta edição altera seus locais fixos.</h4>
      <div id="scroll_principal" class="scroll_vertical init_top no_borderY popup__container--scroll principal_big">
        <h3 class="popup__text question first">Deseja mudar o ponto de subida?</h3>
        <div id="options_subida_fixo" class="popup__container--options">
          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-circle popup__icon ratio"></i>
            <p class="popup__text content input">Sim</p>
          </div>

          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
            <p class="popup__text content input">Não</p>
          </div>
        </div>

        <h3 id="options_subida_fixo_title" class="popup__text info space inactive">Selecione o novo local de subida:
        </h3>
        <div id="options_subida_fixo_container"
          class="scroll_vertical init_top no_borderY popup__container--scroll inactive">
          {% for index in range(10) %}
          <div id="model_ponto_{{ index }}" class="popup__input checkbox hidden"
            onclick="popup_selectOption(this, false, true)">
            <p id="number_ponto" class="popup__text input title">{{ index + 1 }}</p>
            <p id="name_ponto" class="popup__text input">Teste</p>
            <i class="bi bi-check-lg popup__icon checkbox inactive"></i>
          </div>
          {% endfor %}
        </div>

        <h3 class="popup__text question">Deseja mudar o ponto de descida?</h3>
        <div id="options_retorno_fixo" class="popup__container--options">
          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-circle popup__icon ratio"></i>
            <p class="popup__text content input">Sim</p>
          </div>

          <div class="popup__input checkbox bool" onclick="popup_selectOption(this, true)">
            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
            <p class="popup__text content input">Não</p>
          </div>
        </div>

        <h3 id="options_retorno_fixo_title" class="popup__text info space inactive">Selecione o novo local de descida:
        </h3>
        <div id="options_retorno_fixo_container"
          class="scroll_vertical init_top no_borderY popup__container--scroll inactive"></div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_ponto', true)">Cancelar</button>
      <button class="popup__btn">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_contraturno" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 class="popup__title">Definir contraturno</h1>
    </header>

    <div class="popup__container--content">
      <h2 class="popup__text">Selecione seus dias fixos:</h2>
      <div id="content_local_contraturno" class="scroll_vertical no_borderY popup__container--scroll principal">
        {% for index in range(5) %}
        <div class="popup__input checkbox" onclick="popup_confirmBox(this)">
          <i class="bi bi-circle popup__icon ratio"></i>
          <p class="popup__text input">{{ dias_semana[index] }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <h4 class="popup__text info space">Você pode selecionar mais de uma opção.</h4>
    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_contraturno')">Cancelar</button>
      <button class="popup__btn" onclick="edit_contraturno_fixo()">Salvar</button>
    </footer>
  </div>
</section>


<section id="edit_dia" class="popup__container--shadow inactive">
  <div class="popup__container">
    <header class="popup__container--header">
      <h1 id="dia" class="popup__title">Carregando...</h1>
    </header>

    <div class="popup__container--content">
      <div class="page__container margin_bottom">
        <h4 class="popup__text">Data:</h4>
        <h4 id="data_dia" class="popup__text">Carregando...</h4>
      </div>
      <div class="scroll_vertical init_top no_borderY popup__container--scroll principal_big">
        <div id="edit_dia_msg" class="inactive">
          <span></span>
          <h1 class="page__division"></h1>
        </div>

        <div class="page__container">
          <h3 class="popup__text question first">Faltará no dia?</h3>
          <i id="edit_dia_faltara_blocked" class="bi bi-person-lock popup__text question first inactive" style="border: none;"></i>
        </div>
        <div id="options_falta" class="popup__container--options">
          <div class="popup__input checkbox bool">
            <i class="bi bi-circle popup__icon ratio"></i>
            <p class="popup__text content input">Sim</p>
          </div>
          <div class="popup__input checkbox bool">
            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
            <p class="popup__text content input">Não</p>
          </div>
        </div>
        
        <div class="page__container">
          <h3 class="popup__text question">Ficará contraturno?</h3>
          <i id="edit_dia_contraturno_blocked" class="bi bi-person-lock popup__text question inactive" style="border: none;"></i>
        </div>
        <div id="options_contraturno" class="popup__container--options">
          <div class="popup__input checkbox bool">
            <i class="bi bi-circle popup__icon ratio"></i>
            <p class="popup__text content input">Sim</p>
          </div>
          <div class="popup__input checkbox bool">
            <i class="bi bi-check2-circle popup__icon ratio selected"></i>
            <p class="popup__text content input">Não</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="popup__container--footer">
      <button class="popup__btn cancel" onclick="close_popup('edit_dia')">Cancelar</button>
      <button class="popup__btn" onclick="edit_dia()">Salvar</button>
    </footer>
  </div>
</section>
