<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BussTup</title>
    <link rel="icon" href="/static/data/img/icon_busstup.png">
    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="/static/css/interface.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body onload="enterPage()">
    <p class="hidden_point">.</p>
    <!-- Models -->
    {% include "model_index.html" %}

    {% if role == 'aluno' %}

        {% include "template_models/model_aluno.html" %}

        <!-- POPUPs edit -->
        {% include "popups_edit/popup_aluno.html" %}

    {% elif role == 'motorista' %}

        {% include "template_models/model_motorista.html" %}

        <!-- POPUPs edit -->
        {% include "popups_edit/popup_motorista.html" %}

    {% endif %}

    <!-- ----- -->
    <header id="header_page" class="page__container--header header_hidden hidden">
        <h1 class="text--header">BussTup</h1>
        <div class="page__container--icon">
            <i class="bi bi-person-circle page__icon animate first" onclick="closeInterface('page_user', '/profile_user')"></i>
        </div>
    </header>
    
    <main id="content_page" class="page__container--content scroll_horizontal content_noBorder">
        <section id="aba_agenda" class="page__container--aba">
            <div id="not_line_agenda" class="inactive">
                Você não possui uma linha
            </div>

            <div id="area_agenda" class="page__container column">
                <div class="page__container title enter">
                    <h1 id="nome_linha" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">~</h1>
                    <h1 id="cidade_linha" class="text principal">Cidade</h1>
                </div>

                {% if role == 'aluno' %}
                <h1 class="text title enter">Meu ponto</h1>
                <div class="page__container enter">
                    <p class="text secundario emphasis">Motorista</p>
                    <p id="motorista_nome" class="text secundario content fundo">Nome do motorista</p>
                </div>

                <div class="enter">
                    <div class="page__container pos_relative">
                        <p class="text secundario emphasis">Ponto</p>
                        <p id="nome_ponto" class="text secundario emphasis max_width">Nome do ponto</p>
                        <i class="bi bi-pencil-square page__icon content absolute" onclick="open_popup_edit('edit_ponto')"></i>
                    </div>

                    <div class="page__container space_itens">
                        <p class="text secundario emphasis">Ordem</p>
                        <p id="ordem_ponto" class="text secundario content fundo">1</p>
                        <p class="text secundario emphasis">Horário</p>
                        <p id="horario_ponto" class="text secundario content fundo">07h</p>
                        <p class="text secundario emphasis">Localização</p>
                        <i id="localizacao_ponto" class="bi bi-pin-map page__icon content location"></i>
                    </div>
                </div>

                <h1 class="text title enter">Minha semana</h1>
                <div id="minha_semana" class="">
                    <!-- <div class="page__container">
                        <p class="text secundario fundo">Tickets restantes:</p>
                        <p id="quant_tickets" class="text secundario content fundo"></p>
                    </div> -->

                    <div class="page__container enter">
                        <p class="text secundario fundo">Contraturno fixo:</p>
                        <p id="contaturnos_fixos" class="text secundario content fundo">Nenhum</p>
                        <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_contraturno')"></i>
                    </div>

                    <div class="page__container scroll_horizontal enter">
                        {% for index in range(5) %}
                        <div class="page__container--card hidden" onclick="open_popup_edit('edit_dia', this)">
                            <div class="page__container--card_title pos_relative">
                                <h1 class="text terciario">{{ dias_semana[index] }}</h1>
                                <i class="bi bi-pencil-square page__icon card"></i>
                            </div>

                            <div class="page__container--card_body">
                                <div class="page__container">
                                    <p class="text terciario">Data:</p>
                                    <p id="data_{{ dias_semana[index] }}" class="text terciario content">27/11/2023</p>
                                </div>

                                <div class="page__container">
                                    <p class="text terciario">Irá faltar:</p>
                                    <p id="falta_{{ dias_semana[index] }}" class="text terciario content">Não</p>
                                </div>

                                <div class="page__container">
                                    <p class="text terciario">Contraturno:</p>
                                    <p id="contraturno_{{ dias_semana[index] }}" class="text terciario content">Não</p>
                                </div>

                                <div class="page__container inactive">
                                    <p class="text terciario">Ponto subida:</p>
                                    <p id="pSubida_{{ dias_semana[index] }}" class="text terciario content"></p>
                                </div>

                                <div class="page__container inactive">
                                    <p class="text terciario">Ponto descida:</p>
                                    <p id="pDescida_{{ dias_semana[index] }}" class="text terciario content"></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                <h1 class="text title enter">Previsão do ônibus</h1>
                <div id="previsao_onibus">
                    {% if role == 'aluno' %}
                    <div class="page__container enter">
                        <p class="text secundario fundo">Capacidade total:</p>
                        <div class="text secundario fundo">
                            <p id="capacidade_onibus" class="text secundario content container space">30</p>
                            <p class="text secundario content container">pessoas</p>
                        </div>
                    </div>

                    <div class="page__container enter">
                        <p class="text secundario fundo">Período:</p>
                        <p class="text secundario content fundo">27/11/2023 - 01/12/2023</p>
                    </div>

                    {% for index_previsao in range(3) %}
                    <div id="previsao_{{ turnos[index_previsao] }}" class="enter">
                        <div id="{{ turnos[index_previsao] }}_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                            <h2 class="text secundario fundo max_width">{{ turnos[index_previsao] }}</h2>
                            <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                        </div>
                        
                        <div id="{{ turnos[index_previsao] }}_container" class="inactive">
                            {% for index_dia in range(5) %}
                            <div id="{{ turnos[index_previsao] }}-dia_{{ index_dia }}" class="page__container align">
                                <h2 class="text indicate emphasis">{{ dias_semana[index_dia][0:3] }}</h2>
                                <i class="bi bi-arrow-right-short page__icon indicate"></i>
                                <p class="text terciario fundo">Previsão:</p>
                                <div class="text secundario fundo">
                                    <p id="{{ turnos[index_previsao] }}-dia_{{ index_dia }}_previsao" class="text terciario content container space">0</p>
                                    <p class="text terciario content container">pessoas</p>
                                </div>
                                <p class="text terciario fundo">Estado:</p>
                                <p id="{{ turnos[index_previsao] }}-dia_{{ index_dia }}_estado" class="text terciario content green fundo">Normal</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    {% elif role == 'motorista' %}
                    <div class="page__container enter">
                        <p class="text secundario fundo">Período:</p>
                        <p id="periodo_previsao" class="text secundario content fundo">09/12/2023 - 10/12/2023</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>

        <section id="aba_rota" class="page__container--aba">
            <div id="area_rota" class="page__container column inactive">
                {% if role == 'motorista' %}
                <div class="page__container title enter">
                    <h1 id="area_rota_nome" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">></h1>
                    <h1 class="text principal">Rotas</h1>
                </div>

                <h2 class="text title enter">Minhas rotas</h2>
                <div id="minhas_rota">
                    <div id="sem_veiculo" class="enter">
                        <p class="text secundario emphasis">Você não possui relação com nenhum veículo.</p>
                        <p class="text secundario fundo">Defina um veículo para conseguir iniciar um trajeto:</p>
                        <div class="page__container justify">
                            <div class="interface__container--btn add margin_top big" onclick="">
                                <i class="bi bi-box-arrow-up-right interface__icon redirect"></i>
                            </div>
                        </div>
                    </div>

                    <div id="sem_rota" class="inactive">
                        <p class="text secundario emphasis">Seu veículo não possui nenhuma rota definida.</p>
                        <p class="text secundario fundo">Crie uma rota para conseguir iniciar um trajeto:</p>
                        <div class="page__container justify">
                            <div class="interface__container--btn add margin_top big" onclick="">
                                <i class="bi bi-box-arrow-up-right interface__icon redirect"></i>
                            </div>
                        </div>
                    </div>

                    <div id="minha_rota_area" class="enter"></div>
                    <h1 class="page__division enter"></h1>
                </div>

                {% else %}
                <div class="page__container title enter">
                    <h1 id="area_rota_nome" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">></h1>
                    <h1 class="text principal">Rota</h1>
                </div>
                <h2 class="text title enter">Minha rota</h2>
                <div id="minha_rota_area" class="enter"></div>
                <h1 class="page__division enter"></h1>
                {% endif %}
                
                {% for index in range(3) %}
                <div id="rotas_{{ turnos[index] }}">
                    <h2 class="text title enter">{{ turnos[index] }}</h2>
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="aba_linhas" class="page__container--aba">
            <div id="area_linhas" class="page__container column inactive">
                <div class="page__container title enter">
                    <h1 class="text principal">Linhas</h1>
                </div>

                {% if role == 'motorista' %}
                <h2 class="text title enter">Minhas linhas</h2>
                <div id="minha_linha_area" class="enter"></div>

                <div id="msg_criar_linha" class="enter">
                    <p class="text secundario emphasis">Você ainda não está relacionado a nenhuma linha.</p>
                    <p class="text secundario fundo">Solicite entrada em alguma linha ou crie a sua:</p>
                    <div class="page__container--line selected">
                        <i class="bi bi-plus-lg page__icon--box plus" onclick="open_popup_edit('create_line')"></i>
                    </div>
                </div>
                <h1 class="page__division enter"></h1>
                <div id="msg_solicitar_entrada" class="page__container">
                    <p class="text secundario fundo enter">Solicite entrada:</p>
                </div>
                {% endif %}

                <div id="local_linhas"></div>
            </div>
        </section>

        <!-- ----- -->

        <section id="aba_chat" class="page__container--aba">
            <div id="area_chat" class="page__container column inactive">
                <div class="page__container title enter">
                    <h1 id="area_chat_nome_linha" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">></h1>
                    <h1 class="text principal">Chat</h1>
                </div>

                <h2 class="text title enter">Aviso</h2>
                <p class="text secundario emphasis enter">O recurso de chat ainda se encontra em desenvolvimento.</p>
                <p class="text secundario fundo enter">Estamos trabalhando para permitir uma linha de comunicação estável para todos os usuários.</p>
            </div>
        </section>
    </main>

    {% include "blog/line.html" %}

    <nav id="nav_page" class="page__container--buttom nav_hidden">
        <div class="page__btn">
            <i id="agenda" class="bi bi-journal-text page__icon--btn btn_selected" onclick="replaceAba(this)"></i>
        </div>

        <div class="page__btn">
            <i id="rota" class="bi bi-geo-alt page__icon--btn" onclick="replaceAba(this)"></i>
        </div>

        <div class="page__btn">
            <i id="linhas" class="bi bi-bus-front page__icon--btn" onclick="replaceAba(this)"></i>
        </div>

        <div class="page__btn">
            <i id="chat" class="bi bi-chat-dots page__icon--btn" onclick="replaceAba(this)"></i>
        </div>
    </nav>
    
    <script src="/static/js/interface.js"></script>
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/line.js"></script>
    <script src="/static/js/page.js"></script>
    <script src="/static/js/interaction.js"></script>
    <script>checkLine()</script>
</body>
</html>
