<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BussTup</title>
    <link rel="icon" href="/static/data/img/icon_busstup.png">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="/static/css/interface.css">
    <link rel="stylesheet" href="/static/css/perfil.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body onload="enterProfile()">
    <p class="hidden_point">.</p>
    <!-- POPUPs edit -->
    {% include "popups_edit/popup_perfil.html" %}
    <!-- ----- -->

    <section class="perfil__container">
        <header class="perfil__container--header pos_relative hidden" onclick="open_popup_edit('config_usuario')">
            <p id="perfil_nome" class="perfil__title"></p>
            <i class="bi bi-three-dots-vertical perfil__icon title"></i>
        </header>
        
        <div class="perfil__container--content">
            <h1 class="text title first enter">Meus dados</h1>
            <div class="perfil__item enter">
                <p class="text secundario emphasis">Email</p>
                <p id="perfil_email" class="text secundario fundo content"></p>
                <i class="bi bi-pencil-square perfil__icon" onclick="open_popup_edit('edit_email')"></i>
            </div>

            <div class="perfil__item enter">
                <p class="text secundario emphasis">Telefone</p>
                <p id="perfil_telefone" class="text secundario fundo content"></p>
                <i class="bi bi-pencil-square perfil__icon" onclick="open_popup_edit('edit_telefone')"></i>
            </div>

            {% if role == 'motorista' %}
            <div class="perfil__item enter">
                <p class="text secundario emphasis">Pix</p>
                <p id="perfil_pix" class="text secundario fundo content"></p>
                <i class="bi bi-pencil-square perfil__icon" onclick="open_popup_edit('edit_pix')"></i>
            </div>

            {% else %}
            <div class="perfil__item enter">
                <p class="text secundario emphasis">Curso</p>
                <p id="perfil_curso" class="text secundario fundo content"></p>
            </div>

            <div class="perfil__item enter">
                <p class="text secundario emphasis">Turno</p>
                <p id="perfil_turno" class="text secundario fundo content"></p>
            </div>
            
            <h1 class="text title enter">Cartela de tickets</h1>
            {% endif %}
        </div>

        <div class="perfil__container--footer">
            <h1 class="perfil__division enter"></h1>
            <div class="perfil__container--justify enter">
                <div class="interface__container--btn margin_bottom add aba" onclick="open_popup_edit('confirm_logout')">
                    <p class="interface__text">Sair da conta</p>
                </div>
            </div>

            <div class="perfil__container--justify enter">
                <div class="interface__container--btn margin_bottom add aba" onclick="closeProfile()">
                    <p class="interface__text white">Voltar</p>
                </div>
            </div>
        </div>
    </section>
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/interface.js"></script>
    <script src="/static/js/interaction.js"></script>
    <script src="/static/js/perfil.js"></script>
</body>
</html>
