.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.75s ease;
}

.img_container--principal {
    position: absolute;
    width: 63%;
    transition: opacity 0.75s ease;
    transition-delay: 0.3s;
    opacity: 0;
}

.img_container--fundo {
    transition: transform 0.75s ease;
    width: 100%;
    position: relative;
}
