@import url(text.css);
@import url(keyframes.css);

:root{
    --branco_primario: #f0f6ff;
    --branco_secundario: #ffffff;
    --branco_terciario: #fafafa;
    --cinza_primario: #7c7c7c;
    --cinza_secundario: #454545;
    --cinca_terciario: #b3b3b3;
    --azul_primario: #004aad;
    --azul_secundario: #003f93;
    --azul_terciario: #013983;
    --azul_quaternario: rgba(6, 66, 149, 0.64);
    --azul_quintenario: #1560c3;
    --verde_primario: #008e80;
    --vermelho_primario: #ff7272;
    --amarelo_primario: #ffe959;

    --size_16px: calc(0.7vw + 1vh + 1vmin);
}

@font-face {
    font-family: "Poppins";
    src: url(/static/data/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(/static/data/font/Roboto-Medium.ttf);
}

* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
}

*:active {
    -webkit-tap-highlight-color: transparent;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--azul_primario);
    min-height: 100vh;
}

/* Containers */

.container--alert_msg {
    width: 100%;
}

.container--column {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.container--line {
    display: flex;
    width: 75vw;
}

/* Posições */

.pos_absolute {
    position: absolute;
}

.pos_relative {
    position: relative;
}

/* Ações */

.inative {
    display: none;
}

.hidden_point {
    color: transparent;
    position: absolute;
    pointer-events: none;
}

/* Keyframes */

.enter {
    opacity: 0;
}

.enter--radius {
    border-radius: 0 0 calc(2vw + 3vh + 1vmin) calc(2vw + 3vh + 1vmin);
}

.close {
    opacity: 1;
}

.close--radius {
    border-radius: 0;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.expansive {
    animation: openForecast 1s ease;
}

/* Rolagens */

.scroll_vertical {
    display: flex;
    padding: calc(0.8vw + 0.8vh + 1vmin);
    flex-direction: column;
    max-height: 45vh;
    overflow-y: auto;
    position: relative;
}

.scroll_horizontal {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.btn_scroll {
    width: 80%;
}

/* Popup */

.swal2-popup {
    z-index: 2000;
    border-radius: 0 calc(2vw + 3vh + 1vmin) calc(2vw + 3vh + 1vmin) calc(2vw + 3vh + 1vmin);
    font-size: calc(0.8vw + 0.8vh + 1vmin);
  }

.swal2-title {
    font-size: calc(1.5vw + 1.5vh + 1vmin);
}

.no-scroll {
    overflow: hidden;
}

.btn_click {
    cursor: pointer;
}
