@import url(text.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
  --branco_primario: #f0f6ff;
  --branco_secundario: #ffffff;
  --branco_terciario: #fafafa;
  --branco_quaternario: #d5e6ff;
  --cinza_primario: #7c7c7c;
  --cinza_secundario: #454545;
  --cinca_terciario: #b3b3b3;
  --cinza_quaternario: #b3b3b345;
  --cinza_inativo: #b3b3b32f;
  --azul_primario: #004aad;
  --azul_secundario: #003f93;
  --azul_terciario: #013983;
  --azul_quaternario: rgba(6, 66, 149, 0.64);
  --azul_quintenario: #1560c3;
  --verde_primario: #008e80;
  --vermelho_primario: #ff7272;
  --vermelho_secundario: #ff72721b;
  --vermelho_terciario: #ff0000b7;
  --amarelo_primario: #ffe959;

  --size_16px: calc(0.7vw + 1vh + 1vmin);
}


* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--azul_primario);
  min-height: 100vh;
}


/* Containers */

.container--alert_msg {
  width: 100%;
}

.container--column {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.container--line {
  display: flex;
  width: 75vw;
}

.container--aba {
  width: 90%;
}


/* Posições */

.pos_absolute {
  position: absolute;
}

.pos_relative {
  position: relative;
}


/* Ações */

.inactive {
  display: none;
}

.hidden_point {
  color: transparent;
  position: absolute;
  pointer-events: none;
}

.interaction {
  cursor: pointer;
}

.justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.space {
  margin: calc((0.5vw + 0.5vh + 1vmin)) 0;
}

.shadow {
  box-shadow: 0 0px 5px var(--cinca_terciario);
}

.max_width {
  width: 100%;
}

.white {
  background-color: var(--branco_secundario);
}

.margin_bottom {
  margin-bottom: calc(0.5vw + 0.5vh + 1vmin);
}

.margin_bottom.big {
  margin-bottom: calc(1.5vw + 1.5vh + 1vmin);
}


.scroll_vertical {
  display: flex;
  padding: 0 calc(0.3vw + 0.3vh + 1vmin);
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.scroll_vertical.margin_bottom {
  margin-bottom: calc(0.5vw + 0.5vh + 1vmin);
}

.scroll_vertical.margin_top {
  margin-top: calc(0.5vw + 0.5vh + 1vmin);
}

.scroll_horizontal {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.scroll_horizontal.not_overflow {
  overflow-x: hidden;
}

.btn_scroll {
  width: 80%;
}


.swal2-popup {
  z-index: 2000;
  border-radius: 0 calc(2vw + 3vh + 1vmin) calc(2vw + 3vh + 1vmin) calc(2vw + 3vh + 1vmin);
  box-shadow: 0px 3px 15px var(--cinza_primario);
  font-size: calc(0.8vw + 0.8vh + 1vmin);
  font-weight: bold;
  background-color: var(--branco_secundario);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.swal2-title {
  font-size: calc(1.5vw + 1.5vh + 1vmin);
  margin: 0 calc(1vw + 1vh + 1vmin);
}

.no-scroll {
  overflow: hidden;
}

.btn_click {
  cursor: pointer;
}


.icon_move {
  color: var(--azul_terciario);
  font-size: calc(0.9vw + 0.9vh + 1vmin);
  margin: 0 calc(0.1vw + 0.1vh + 0.5vmin);
  padding: calc(0.3vw + 0.3vh + 1vmin);
  background-color: var(--branco_primario);
  border-radius: calc(0.5vw + 0.5vh + 1vmin);
  cursor: grab;
}

.icon_move.grabbing {
  cursor: grabbing;
}


.-enter- {
  opacity: 0;
}

.enter--radius {
  border-radius: 0 0 calc(2vw + 3vh + 1vmin) calc(2vw + 3vh + 1vmin);
}

.close {
  opacity: 1;
}

.close--radius {
  border-radius: 0;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.expansive {
  animation: openForecast 1s ease;
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(calc(-1vw + -1vh + -1vmin));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes outUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(calc(-1vw + -1vh + -1vmin));
  }
}

@keyframes popupOpen {
  0% {
    scale: 0.85;
    opacity: 0;
  }

  50% {
    scale: 1.02;
    opacity: 1;
  }

  80% {
    scale: 0.98;
  }

  100% {
    scale: 1;
  }
}

@keyframes popupClose {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.7;
    opacity: 0;
  }
}