body {
    justify-content: center;
}

.page__container {
    display: flex;
    width: 100%;
}

.page__container.inative {
    display: none;
}

.page__container.column {
    flex-direction: column;
}

.page__container.title {
    border-bottom: var(--azul_terciario) solid 0.06rem;
}

.page__container--header {
    transition: height 0.7s ease;
    box-sizing: border-box;
    display: flex;
    height: calc(4vw + 4vh + 1vmin);
    width: 95%;
    visibility: hidden;
}

.header_hidden {
    height: 0;
}

.page__container--content {
    transition: 0.7s ease;
    background-color: var(--branco_secundario);
    border-radius: calc(1.5vw + 3vh + 1vmin) calc(1.5vw + 3vh + 1vmin) 0 0;
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.content_noBorder {
    border-radius: 0;
}

.page__container--aba {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    padding: 5% 5% 17% 5%;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.page__container--buttom {
    background-color: var(--branco_terciario);
    border-radius: calc(1vw + 2vh + 1vmin) calc(1vw + 2vh + 1vmin) 0 0;
    height: calc(4.5vw + 4.5vh + 1vmin);
    transition: 0.7s ease;
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
}

.nav_hidden {
    opacity: 0;
}

.page__btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page__icon--btn {
    transition: ease 0.2s;
    font-size: calc(1.5vw + 2vh + 1vmin);
    border-radius: calc(1vw + 1.5vh + 1vmin);
    padding: calc(0.1vw + 0.1vh + 0.3vmin) calc(1.5vw + 0.5vh + 0.7vmin);
    color: var(--azul_primario);
    cursor: pointer;
}

.btn_selected {
    background-color: var(--azul_primario);
    color: var(--branco_secundario);
    padding: calc(0.1vw + 0.1vh + 0.3vmin) calc(1.5vw + 1.5vh + 1vmin);
}

.page__icon_area {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    justify-content: end;
}

.page__icon {
    color: var(--branco_secundario);
    font-size: calc(2vw + 1.4vh + 1vmin);
    margin-right: calc(0.7vw + 0.5vh + 1vmin);
    padding: calc(0.5vw + 0.6vh + 1vmin);
    display: flex;
    align-items: center;
    cursor: pointer;
}
