.popup__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: calc(2vw + 2vh + 1vmin);
    background-color: var(--branco_secundario);
    box-shadow: 0px 3px 15px var(--cinza_primario);
    animation: popupOpen 0.25s ease;
}

.popup__container.close {
    animation: popupClose 0.2s ease;
}

.popup__container--shadow {
    display: flex;
    transition: opacity 0.2s ease;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup__container--shadow.close {
    opacity: 0;
}

.popup__container--shadow.inative {
    display: none;
}

.popup__container--header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 17%;
}

.popup__container--content {
    width: 80%;
}

.popup__container--scroll {
    box-sizing: border-box;
    width: 100%;
}

.popup__container--scroll.principal {
    max-height: 36.6vh;
}

.popup__container--scroll.inative {
    display: none;
}

.popup__container--content.inative {
    display: none;
}

.popup__container--footer {
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin: calc(2vh + 1vmin) 0 calc(2vh + 1vmin) 0;
    width: 70%;
    height: 8%;
}

.popup__container--options {
    display: flex;
    justify-content: space-around;
}

.popup__title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--azul_terciario);
    border-bottom: var(--azul_terciario) solid 0.06rem;
    margin: calc(1vw + 1vh + 1vmin) 0 calc(1vw + 1vh + 1vmin) 0;
    font-size: calc(1vw + 2vh + 1vmin);
}

.popup__text {
    font-size: calc(0.8vw + 0.8vh + 1vmin);
    margin-right: calc(0.5vw + 0.5vh + 1vmin);
    margin-bottom: calc(0.1vw + 0.1vh + 1vmin);
    pointer-events: none;
    color: var(--azul_terciario);
}

.popup__text.center {
    justify-content: center;
}

.popup__text.info {
    font-size: calc(0.8vh + 1vmin);
}

.popup__text.info.space {
    margin: calc(0.4vh + 1vmin) 0;
}

.popup__text.info.margin_bottom {
    margin: 0;
    margin-bottom: calc(1vh + 1vmin);
}

.popup__text.input {
    margin: 0 0 0 calc(0.5vw + 0.5vh + 1vmin);
}

.popup__text.input.title {
    border-right: var(--azul_terciario) solid 0.06rem;
    padding: 0 calc(0.2vw + 0.2vh + 1vmin) 0 calc(0.2vw + 0.2vh + 1vmin);
    text-align: center;
    margin: 0;
    width: 5%;
}

.popup__text.question {
    padding-left: calc(0.2vw + 0.2vh + 1vmin);
    margin: calc(1vw + 1vh + 1vmin) 0 calc(0.2vw + 0.2vh + 1vmin) 0;
    border-left: var(--azul_terciario) solid 0.06rem;
}

.popup__text.question.first {
    margin-top: 0;
}

.popup__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--azul_terciario) solid 0.06rem;
    padding: calc(0.5vw + 0.5vh + 0.5vmin) calc(1vw + 1vh + 0.5vmin) calc(0.5vw + 0.5vh + 0.5vmin) calc(1vw + 1vh + 0.5vmin);
    font-size: calc(1vh + 1vmin);
    border-radius: calc(0.5vw + 0.5vh + 1vmin);
    letter-spacing: calc(0.1vw + 0.1vh + 0.1vmin);
    background-color: var(--azul_terciario);
    color: var(--branco_secundario);
    transition: scale 0.2s ease;
    font-weight: bold;
    cursor: pointer;
}

.popup__btn:hover {
    scale: 1.05;
}

.popup__btn.cancel {
    background-color: var(--branco_secundario);
    color: var(--azul_terciario);
}

.popup__input {
    display: flex;
    align-items: center;
    background-color: var(--branco_terciario);
    border-radius: calc(0.1vw + 0.1vh + 1vmin);
    padding: calc(0.1vw + 0.1vh + 1vmin) 0 calc(0.1vw + 0.1vh + 1vmin) 0;
    margin: calc(0.2vw + 0.2vh + 1vmin) 0 calc(0.2vw + 0.2vh + 1vmin) 0;
    cursor: pointer
}

.popup__input.inative {
    display: none;
}

.popup__input.checkbox {
    width: 100%;
    transition: opacity 0.2s ease, background-color 0.25s ease;
}

.popup__input.checkbox.selected {
    background-color: var(--branco_quaternario);
}

.popup__input.checkbox.bool {
    width: 45%;
}

.popup__icon {
    right: 0;
    color: var(--azul_terciario);
    font-size: calc(1vw + 1vh + 1vmin);
    transition: opacity 0.2s ease, scale 0.2s ease;
}

.popup__icon.selected {
    scale: 1.2;
}

.popup__icon.checkbox {
    margin-right: calc(0.5vw + 0.5vh + 1vmin);
    margin-left: auto;
}

.popup__icon.ratio {
    margin: 0 0 0 calc(0.5vw + 0.5vh + 1vmin);
}

.popup__icon.hidden {
    opacity: 0;
}