.route__btn {
  width: 100%;
  height: 4.3vh;
  cursor: pointer;
  border-radius: calc(0.5vw + 0.5vh + 1vmin);
  box-sizing: border-box;
  transition: scale 0.2s ease-in-out;
  margin-top: calc(0.5vw + 0.5vh + 1vmin);
  background-color: var(--branco_primario);

  display: flex;
  align-items: center;
  justify-content: center;
}

.route__btn.inactive {
  display: none;
}

.route__btn.first {
  margin-top: 0px;
}

.route__btn:hover {
  scale: 1.03;
}

.route__text {
  font-size: calc(0.93vw + 0.9vh + 1vmin);
  color: var(--azul_terciario);
}

.route__text.border_rigth {
  width: 3.5%;
  text-align: center;
  margin: calc(0.5vw + 0.5vh + 1vmin) 0;
  padding: calc(0.1vw + 0.1vh + 1vmin) calc(0.5vw + 0.5vh + 1vmin);
  border-right: var(--cinza_quaternario) solid 0.06rem;
}

.route__text.margin_left {
  margin-left: calc(0.93vw + 0.9vh + 1vmin);
}

.route__text.min {
  margin-left: calc(0.5vw + 0.5vh + 1vmin);
  margin-bottom: calc(0.1vw + 0.1vh + 1vmin);
  font-size: calc(0.5vw + 0.5vh + 1vmin);
}

.route__text.min.not_left {
  margin-left: calc(0.1vw + 0.1vh + 0.8vmin);
  font-weight: bold;
}

.route__text_efect {
  font-size: calc(0.6vw + 0.6vh + 1vmin);
  color: var(--cinza_text_stop);
}

.route__body_stop {
  display: flex;
  width: 100%;
  background-color: var(--branco_terciario);
  border-radius: 10px;
  margin-top: calc(0.5vw + 0.5vh + 1vmin);
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease-in-out;
}

.route__body_stop.selected {
  border-left: var(--azul_quintenario) solid 0.2rem
}

.route__body_stop:hover {
  scale: 1.01;
}

.route__body_efect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 25%;
  background-color: var(--branco_terciario);
  border-radius: 10px;
}

.route__body_efect::before {
  content: '';
  width: 15%;
  height: 100%;
  background-color: var(--branco_terciario);
  border-radius: 0px 10px 10px 0px;
}

.route__body_efect.passou {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 25%;
  background-color: var(--cinza_stop);
  border-radius: 10px;
}

.route__icon {
  margin: 0 auto;
  color: var(--verde_primario);
  font-size: calc(1.5vw + 1.5vh + 1vmin);
}

.route__icon.inactive {
  display: none;
}

.route__card_body {
  display: flex;
  align-items: end;
  width: 100%;
  background-color: var(--branco_terciario);
  margin-top: calc(0.5vw + 0.5vh + 1vmin);
  border-radius: 10px;
}

.route__card_title {
  font-size: calc(3vw + 3vh + 1vmin);
  color: var(--azul_terciario);
  margin: calc(1vw + 1vh + 1vmin) 0 calc(1vw + 1vh + 1vmin) calc(1vw + 1vh + 1vmin);
  padding: calc(0.3vw + 0.3vh + 1vmin) calc(0.3vw + 0.3vh + 1vmin) calc(0.3vw + 0.3vh + 1vmin) calc(1vw + 1vh + 1vmin);
  border: var(--azul_terciario) solid 0.06rem;
  border-right: none;
  border-bottom: none;
  border-radius: 10px 0 0 0;
}

.route__card_title.reverse {
  margin: calc(1vw + 1vh + 1vmin) calc(1vw + 1vh + 1vmin) calc(1vw + 1vh + 1vmin) 0;
  padding: calc(0.3vw + 0.3vh + 1vmin) calc(1vw + 1vh + 1vmin) calc(0.3vw + 0.3vh + 1vmin) calc(0.3vw + 0.3vh + 1vmin) ;
  border-radius: 0 0 10px 0;
  border: var(--azul_terciario) solid 0.06rem;
  border-left: none;
  border-top: none;
}

.route__card_text {
  font-size: calc(0.8vw + 0.8vh + 1vmin);
  color: var(--azul_terciario);
  padding: calc(2.5vw + 2.4vh + 1vmin) calc(1.5vw + 1.5vh + 1vmin) calc(1.5vw + 1.5vh + 1vmin) 0;
  margin: calc(1vw + 1vh + 1vmin) 0;
  border-top: var(--azul_terciario) solid 0.06rem;
}

.route__card_text.reverse {
  padding: 0 0 calc(1.5vw + 1.5vh + 1vmin) calc(1.5vw + 1.5vh + 1vmin);
  border-top: none;
  border-bottom: var(--azul_terciario) solid 0.06rem;
}

.route__card_efect {
  height: 100%;
  width: 22%;
  margin: auto;
  position: relative;
}

.route__card_efect::before {
  content: '';
  position: absolute;
  width: 35%;
  height: 165%;
  background-color: var(--branco_terciario);
  transform: rotate(-45deg) translate(6px, 2px);
  border-right: var(--azul_terciario) solid 0.06rem;
  border-radius: 50px 0px 0px 50px;
}

.route__img {
  width: 100%;
}

.route__card_icon {
  font-size: calc(1.3vw + 1.3vh + 1vmin);
  left: 0;
  bottom: 0;
  position: absolute;
  color: var(--azul_primario);
  transform: translate(7px, 4px);
}

.route__contaciner_student {
  display: flex;
  width: 100%;
  background-color: var(--branco_terciario);
  border-radius: 10px;
}

.route__container_student.click {
  cursor: pointer;
}

.route__text_info {
  display: flex;
  align-items: center;
  font-size: calc(0.7vw + 0.7vh + 1vmin);
  color: var(--azul_terciario);
  padding: calc(0.1vw + 0.1vh + 0.8vmin) calc(0.5vw + 0.5vh + 1vmin);
  background-color: var(--branco_primario);
  border-radius: 10px;
}
  
.route__text_info.inactive {
  display: none;
}
    
.route__icon_container_remove {
  display: flex;
  align-self: center;
  height: 100%;
  font-size: calc(0.7vw + 0.7vh + 1vmin);
  color: var(--vermelho_intenso);
  padding: calc(0.6vw + 0.6vh + 1vmin);
  background-color: var(--vermelho_secundario);
  margin-left: auto;
  border-radius: 10px;
  cursor: pointer;
}

.route__icon_container_remove.inactive {
  display: none;
}