.text {
    font-size: calc(0.6vw + 0.7vh + 1vmin);
    margin: 0.4rem;
    color: var(--azul_terciario);
    font-weight: normal;
    width: 55%;
}

.text--select {
    transition: opacity 0.75s ease;
    transition-delay: 0.3s;
    bottom: 20%;
    color: var(--azul_terciario);
    font-size: calc(1vw + 1vh + 1vmin);
}

.text--header {
    transition: opacity 0.75s ease;
    color: var(--branco_primario);
    font-size: calc(1.8vw + 1vh + 1vmin);
    margin-left: calc(4vw + 3vh + 1vmin);
    font-weight: bold;
    display: flex;
    align-items: center;
}
