<div id="model_stop_path" class="route__body_stop">
  <p id="model_stop_path_posicao" class="route__text border_rigth"></p>
  <div class="page__container column">
    <p id="model_stop_path_local" class="text secundario margin_left"></p>
    <div class="page__container">
      <p class="route__text min">Passagem:</p>
      <p id="model_stop_path_horario" class="route__text min not_left"></p>
      <p class="route__text min">Tolerância:</p>
      <p id="model_stop_path_tolerancia" class="route__text min not_left"></p>
    </div>
  </div>

  <div id="model_stop_path_efect" class="route__body_efect">
    <p class="route__text_efect inactive" style="margin: 0px auto;">Passou</p>
    <i class="bi bi-bus-front route__icon inactive"></i>
  </div>
</div>

<div id="model_student_path" class="route__contaciner_student">
  <p class="text secundario justify margin_left margin_right"></p>
  <i class="bi bi-trash3 route__icon_container_remove inactive"></i>
</div>
