<div id="model_motorista" class="inactive">
  <h1 class="page__division inactive"></h1>
  <div class="page__container">
    <p id="model_motorista_dono" class="text secundario emphasis inactive">Dono</p>
    <p id="model_motorista_adm" class="text secundario emphasis inactive">Adm</p>
    <p id="model_motorista_nome" class="text secundario emphasis max_width"></p>
    {% if role == 'motorista' %}
    <i id="model_motorista_btn" class="bi bi-three-dots-vertical page__icon content emphasis inactive"></i>
    {% endif %}
  </div>

  <div class="page__container">
    <p class="text secundario fundo">Chave Pix:</p>
    <div class="scroll_horizontal">
      <p id="model_motorista_pix" class="text secundario fundo content nowrap"></p>
    </div>
    <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
  </div>

  <div class="page__container">
    <p class="text secundario fundo">Telefone:</p>
    <p id="model_motorista_telefone" class="text secundario fundo content"></p>
    <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
  </div>
</div>


<div id="model_option" class="popup__input checkbox grow inactive" onclick="popup_selectOption(this, false, true)">
  <div class="scroll_horizontal">
    <p class="popup__text input nowrap"></p>
  </div>
</div>


{% if role == 'motorista' %}
<div id="interface_model_aluno" class="popup__input min_height inactive">
  <span class="inactive"></span>
  <p class="popup__text input"></p>
  <i class="bi bi-three-dots-vertical page__icon content right inactive"></i>
</div>

<div id="interface_model_option_headli" class="popup__input move inactive"
  onclick="open_popup('config_rel_point_route', this)">
  <i class="bi bi-arrows-expand icon_move inactive"></i>
  <span class="page__container max_width interaction">
    <h4 id="interface_model_option_headli_number" class="text secundario fundo no_margin_y"></h4>
    <p id="interface_model_option_headli_nome" class="text info fundo center no_margin_y max_width"></p>
    <p id="interface_model_option_headli_horario" class="text secundario fundo no_margin_y nowrap"></p>
  </span>
</div>

{% else %}
<div id="interface_model_aluno" class="popup__input min_height inactive">
  <p class="popup__text input"></p>
</div>

<div id="interface_model_option_headli" class="popup__input move inactive" onclick="open_popup('config_rel_point_route', this)">
  <span class="page__container max_width interaction">
    <h4 id="interface_model_option_headli_number" class="text secundario fundo no_margin_y"></h4>
    <p id="interface_model_option_headli_nome" class="text secundario fundo center no_margin_y max_width"></p>
    <p id="interface_model_option_headli_horario" class="text secundario fundo no_margin_y nowrap"></p>
  </span>
</div>
{% endif %}


<div id="model_interface_rota" class="popup__container--input inactive" onclick="open_popup('config_route', this)">
  <span id="model_interface_rota_number" class="inactive"></span>
  <div class="popup__input_big">
    <div class="popup__local">
      <p id="model_interface_rota_apelido" class="popup__text_local first"></p>
      <p class="popup__text_local">></p>
      <p id="model_interface_rota_motorista" class="popup__text_local"></p>
    </div>

    <div class="popup__local">
      <p id="model_interface_rota_turno" class="popup__text_local first"></p>
      <p class="popup__text_local">></p>
      <p id="model_interface_rota_horario_partida" class="popup__text_local"></p>
      <p class="popup__text_local">~</p>
      <p id="model_interface_rota_horario_retorno" class="popup__text_local"></p>
    </div>
  </div>
  <p id="model_interface_rota_quantidade" class="popup__text_local display"></p>
</div>


<div id="model_vehicle">
  <div id="model_vehicle_btn" class="page__container interaction pos_relative" onclick="action_container(this)">
    <h3 id="model_vehicle_surname" class="text secundario fundo nowrap"></h3>
    <h3 id="model_vehicle_nome" class="text secundario max_width fundo"></h3>
    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
  </div>

  <div id="model_vehicle_container" class="margin_bottom inactive">
    <div class="page__container">
      <p class="text secundario fundo">Motorista:</p>
      <p id="model_vehicle_motorista" class="text secundario fundo content"></p>
      {% if role == 'motorista' %}
      <i class="bi bi-pencil-square page__icon content inactive"
        onclick="open_popup('edit_vehicle_motorista', this)"></i>
      {% endif %}
    </div>

    <div class="page__container">
      <p class="text secundario fundo">Capacidade:</p>
      <div class="text secundario fundo">
        <p id="model_vehicle_capacidade" class="text secundario container content space"></p>
        <p class="text secundario container content">pessoas</p>
      </div>
      {% if role == 'motorista' %}
      <i class="bi bi-pencil-square page__icon content inactive"
        onclick="open_popup('edit_vehicle_capacidade', this)"></i>
      {% endif %}
    </div>

    <h1 class="page__division aba"></h1>
    <div class="page__container justify">
      <div class="line__container--btn add">
        <p class="line__text" onclick="open_popup('aparence_vehicle', this)">Ver descrição do veículo</p>
      </div>
    </div>

    <div class="page__container justify">
      <div class="line__container--btn add margin_top">
        <p class="line__text" onclick="open_popup('vehicle_utilities_routes', this)">Ver rotas do veículo</p>
      </div>
    </div>

    {% if role == 'motorista' %}
    <h1 id="model_vehicle_division_edit" class="page__division aba inactive"></h1>
    <div id="model_vehicle_edit_apelido" class="page__container justify inactive">
      <div class="line__container--btn add">
        <p class="line__text" onclick="open_popup('edit_vehicle_surname', this)">Mudar apelido do veículo</p>
      </div>
    </div>

    <div id="model_vehicle_delete" class="page__container justify inactive">
      <div class="line__container--btn remove" onclick="open_popup('del_vehicle')">
        <i class="bi bi-trash3 line__icon del"></i>
      </div>
    </div>
    {% endif %}
  </div>
</div>
