<div id="interface_model_ponto" class="popup__input min_height inactive">
    <p class="popup__text input"></p>
    <i class="bi bi-three-dots-vertical page__icon content right inactive"></i>
</div>


<div id="model_onibus" class="inactive">
    <div id="model_onibus_btn" class="page__container interaction pos_relative" onclick="action_container(this)">
        <h3 id="model_onibus_placa" class="text secundario fundo nowrap"></h3>
        <h3 id="model_onibus_nome" class="text secundario max_width fundo"></h3>
        <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
    </div>

    <div id="model_onibus_container" class="margin_bottom inactive">
        <div class="page__container">
            <p class="text secundario fundo">Capacidade:</p>
            <div class="text secundario fundo">
                <p id="model_onibus_capacidade" class="text secundario container content space"></p>
                <p class="text secundario container content">pessoas</p>
            </div>
            <i class="bi bi-pencil-square page__icon content inactive" onclick="open_popup('edit_vehicle_capacidade', this)"></i>
        </div>

        <div class="page__container">
            <p class="text secundario fundo">Motorista:</p>
            <p id="model_onibus_motorista" class="text secundario fundo content"></p>
            <i class="bi bi-pencil-square page__icon content inactive" onclick="open_popup('edit_vehicle_motorista', this)"></i>
        </div>

        <div class="page__container justify">
            <div class="interface__container--btn add margin_top" onclick="">
                <p class="interface__text">Ver rotas do veículo</p>
            </div>
        </div>
        
        <div id="model_onibus_delete" class="page__container justify inactive">
            <div class="interface__container--btn remove" onclick="open_popup('del_vehicle')">
                <i class="bi bi-trash3 interface__icon del"></i>
            </div>
        </div>
    </div>
</div>
