<div id="model_stop" class="page__container inactive">
  <i id="model_stop_icon_fixed" class="bi bi-paperclip page__container--point_icon inactive"></i>
  <div class="page__container column max_width">
    <div id="model_stop_info" class="page__container--info">
      <h1 class="text point"></h1>
      <p class="text point"></p>
    </div>
    <div id="model_stop_point" class="page__container--point">
      <div class="page__container">
        <i class="bi bi-pencil-square page__container--point_redirect inactive"></i>
        <div class="page__container--point_local">
          <p id="model_stop_veiculo" class="text secundario nowrap"></p>
          <p class="text secundario">></p>
          <p id="model_stop_parada" class="text secundario nowrap"></p>
        </div>

        <div class="page__container--point_type">
          <p id="model_stop_tipo" class="text secundario nowrap"></p>
          <p class="text secundario">~</p>
          <p id="model_stop_horario" class="text secundario nowrap"></p>
        </div>
      </div>
    </div>
  </div>
</div>
