<div id="model_regiao" class="inactive">
    <h2 class="text title big_space"></h2>
</div>


<div id="model_line" class="page__container--line inactive" onclick="closeInterface('page_user', 'line', this)">
    <div class="page__container--line_content">
        <div class="page__container pos_relative">
            <i class="bi bi-bus-front-fill page__icon--box"></i>
            <h1 id="model_line_nome" class="text box title_box"></h1>
        </div>
        <h3 id="model_line_dono" class="text box nowrap"></h3>
    </div>

    <div class="page__container--line_content info">
        <h1 id="model_line_paga" class="text box info_box">> Paga</h1>
        <h1 id="model_line_gratuita" class="text box info_box inactive">> Gratuita</h1>
        <h1 id="model_line_ferias" class="text box info_box inactive">> Em férias</h1>
    </div>

    <div class="page__container--line_image">
        <img class="page__line_img" src="/static/img/logo_busstup.png">
    </div>
</div>
