<div id="model_regiao" class="inactive">
  <h2 class="text title big_space"></h2>
</div>

<div id="model_local" class="-enter- inactive">
  <h2 class="text secundario emphasis margin_bottom"></h2>
</div>

<div id="model_line" class="page__container--line inactive" onclick="open_popup('summary_line', this, false)">
  <div class="page__container--line_content">
    <div class="page__container pos_relative">
      <i class="bi bi-bus-front-fill page__icon--box"></i>
      <h1 id="model_line_nome" class="text box title_box"></h1>
    </div>
    <h3 id="model_line_dono" class="text box nowrap"></h3>
  </div>

  <div class="page__container--line_content info">
    <h1 id="model_line_paga" class="text box info_box">> Paga</h1>
    <h1 id="model_line_gratuita" class="text box info_box inactive">> Gratuita</h1>
    <h1 id="model_line_ferias" class="text box info_box inactive">> Em férias</h1>
  </div>

  <div class="page__container--line_image">
    <img class="page__line_img" src="/static/img/logo_busstup.png">
  </div>
</div>


<div id="model_route" class="popup__container--input space_top inactive" onclick="open_popup('summary_route', this, false)">
  <span id="model_route_line" class="inactive"></span>
  <div class="popup__input_big">
    <div class="popup__local">
      <p id="model_route_apelido" class="popup__text_local first"></p>
      <p class="popup__text_local">></p>
      <p id="model_route_motorista" class="popup__text_local"></p>
    </div>

    <div class="popup__local">
      <p id="model_route_turno" class="popup__text_local first"></p>
      <p class="popup__text_local">></p>
      <p id="model_route_horario_partida" class="popup__text_local"></p>
      <p class="popup__text_local">~</p>
      <p id="model_route_horario_retorno" class="popup__text_local"></p>
    </div>

    <div class="popup__local">
      <p class="popup__text_local min">Estado:</p>
      <p id="model_route_estado" class="popup__text_local min"></p>
    </div>
  </div>
  <p id="model_route_quantidade" class="popup__text_local display"></p>
</div>


<div id="model_stop" class="page__container inactive">
  <i id="model_stop_icon_fixed" class="bi bi-paperclip page__container--point_icon inactive"></i>
  <div class="page__container column max_width">
    <div class="page__container--info">
      <h1 id="model_stop_linha" class="text point"></h1>
      <p id="model_stop_data" class="text point"></p>
    </div>
    <div id="model_stop_point" class="page__container--point">
      <div class="page__container">
        <i class="bi bi-pencil-square page__container--point_redirect inactive"></i>
        <div class="page__container--point_local">
          <p id="model_stop_veiculo" class="text secundario nowrap overfow"></p>
          <p class="text secundario">></p>
          <p id="model_stop_nome_ponto" class="text secundario nowrap overfow"></p>
        </div>

        <div class="page__container--point_type">
          <p id="model_stop_tipo" class="text secundario nowrap overfow"></p>
          <p class="text secundario">~</p>
          <p id="model_stop_horario" class="text secundario nowrap overfow"></p>
        </div>
      </div>
    </div>
  </div>
</div>
