<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BussTup</title>
    <link rel="preload" href="/static/css/index.css" as="style">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/sweetalert2@11" as="script">
    <link rel="preload" href="/static/js/animation.js" as="script">
    <link rel="preload" href="/static/js/validation.js" as="script">
    <link rel="icon" href="/static/data/img/icon_busstup.png">
</head>
<body onload="enterInterfaceForm('register')">

    <section id="img_container" class="img_container">
        <img id="img_fundo" class="img_container--fundo" src="/static/data/img/fundo_form.png" alt="">
        <h1 id="text_logo" class="text--logo">Cadastro</h1>
    </section>

    <section class="form_container">
        <section class="container--column">
            <h2 class="text--secondary">Cadastrar como:</h2>
            <div id="buttons_option" class="container--line">

                <div class="container--line centerX">
                    <button id="button_aluno" class="form__btn_option" onclick="replaceForm('aluno')">Aluno</button>
                </div>
                    
                <div class="container--line centerX">
                    <button id="button_motorista" class="form__btn_option" onclick="replaceForm('motorista')">Motorista</button>
                </div>
            </div>
            <hr class="linha_horizontal">
        </section>
        
        <form id="form_register_aluno" class="form_container__card ative" method="post" onsubmit="validationRegister('aluno', event)">

            <div class="container--line pos_relative">
                <input type="text" name="matricula" id="matricula" class="form__box_input" onfocus="focusLabel('matricula')" onblur="blurLabel('matricula')" minlength="14" maxlength="14" required>
                <label for="matricula" class="form__text_label"">Matrícula (Usuário de login)</label>
            </div>

            <div class="container--line pos_relative">
                <input type="text" name="nome" id="nome_aluno" class="form__box_input" onfocus="focusLabel('nome_aluno')" onblur="blurLabel('nome_aluno')" required>
                <label for="nome_aluno" class="form__text_label"">Nome completo</label>
            </div>

            <div class="container--line pos_relative">
                <input type="text" name="curso" id="curso" class="form__box_input" onfocus="focusLabel('curso')" onblur="blurLabel('curso')" required>
                <label for="curso" class="form__text_label">Curso</label>
            </div>

            <div class="container--line pos_relative">
                <input type="text" name="turno" id="turno" class="form__box_input" onfocus="focusLabel('turno')" onblur="blurLabel('turno')" required>
                <label for="turno" class="form__text_label">Turno</label>
            </div>

            <div class="container--line pos_relative">
                <input type="text" name="telefone" id="tel_aluno" class="form__box_input" onfocus="focusLabel('tel_aluno')" onblur="blurLabel('tel_aluno')" minlength="11" maxlength="11" required>
                <label for="tel_aluno" class="form__text_label"">Telefone</label>
            </div>

            <div class="container--line pos_relative">
                <input type="password" name="senha" id="senha_aluno" class="form__box_input" onfocus="focusLabel('senha_aluno')" onblur="blurLabel('senha_aluno')" required>
                <label for="senha_aluno" class="form__text_label"">Senha</label>
            </div>

            <div class="container--line pos_relative">
                <input type="password" name="conf_senha" id="conf_senha_aluno" class="form__box_input" onfocus="focusLabel('conf_senha_aluno')" onblur="blurLabel('conf_senha_aluno')" required>
                <label for="conf_senha_aluno" class="form__text_label"">Confirmar senha</label>
            </div>
            <input type="submit" class="form__btn_principal">
        </form>

        <form id="form_register_motorista" class="form_container__card ative" method="post" onsubmit="validationRegister('motorista', event)">

            <div class="container--line pos_relative">
                <input type="text" name="nome" id="nome_motorista" class="form__box_input" onfocus="focusLabel('nome_motorista')" onblur="blurLabel('nome_motorista')" required>
                <label for="nome_motorista" class="form__text_label"">Nome (Usuário de login)</label>
            </div>

            <div class="container--line pos_relative">
                <input type="text" name="telefone" id="tel_motorista" class="form__box_input" onfocus="focusLabel('tel_motorista')" onblur="blurLabel('tel_motorista')" minlength="11" maxlength="11" required>
                <label for="tel_motorista" class="form__text_label"">Telefone</label>
            </div>

            <div class="container--line pos_relative">
                <input type="password" name="senha" id="senha_motorista" class="form__box_input" onfocus="focusLabel('senha_motorista')" onblur="blurLabel('senha_motorista')" required>
                <label for="senha_motorista" class="form__text_label"">Senha</label>
            </div>

            <div class="container--column pos_relative">
                <input type="password" name="conf_senha" id="conf_senha_motorista" class="form__box_input" onfocus="focusLabel('conf_senha_motorista')" onblur="blurLabel('conf_senha_motorista')" required>
                <label for="conf_senha_motorista" class="form__text_label"">Confirmar senha</label>
            </div>
            <input type="submit" class="form__btn_principal">
        </form>

        <div class="container--line">
            <p class="text--tertiary">Já possui uma conta?</p>
            <a class="text--tertiary" href="/">Logar</a>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/animation.js"></script>
    <script src="/static/js/validation.js"></script>
</body>
</html>
