<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BussTup</title>
    <link rel="preload" href="/static/css/index.css" as="style">
    <link rel="preload" href="/static/css/form.css" as="style">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/sweetalert2@11" as="script">
    <link rel="preload" href="/static/js/interface.js" as="script">
    <link rel="preload" href="/static/js/validation.js" as="script">
    <link rel="icon" href="/static/data/img/icon_busstup.png">

    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body onload="enterInterface('register')">
    <section id="container" class="form__container container_complete">
        <div id="content" class="form__container--content">
            <h1 class="form__text_title enter">Cadastro</h1>
            <div id="select_register" class="form__container--card">
                <h2 class="text--select enter">Cadastrar como:</h2>
                <div class="form__container--btn_select enter">
                    <button onclick="replace_form('aluno')" class="form__btn--select form__btn--select_active">Aluno</button>
                    <button onclick="replace_form('motorista')" class="form__btn--select">Motorista</button>
                </div>
            </div>

            <form id="form_aluno" class="form__container--card enter scroll_vertical" method="post" onsubmit="validationRegister('aluno', event)">
                <div class="form__container--input hidden">
                    <input id="matricula" class="form__input input_notIcon" type="text" minlength="14" maxlength="14" name="matricula" required>
                    <label class="form__label label_notIcon" for="matricula">Matrícula (Usuário de login)</label>
                </div>
                
                <div class="form__container--input hidden">
                    <input id="nome_aluno" class="form__input input_notIcon" type="text" name="nome" required>
                    <label class="form__label label_notIcon" for="nome_aluno">Nome completo</label>
                </div>

                <div class="form__container--input hidden">
                    <input id="curso" class="form__input input_notIcon" type="text" name="curso" required>
                    <label class="form__label label_notIcon" for="curso">Curso</label>
                </div>
                <div class="form__container--input hidden">
                    <input id="turno" class="form__input input_notIcon" type="text" name="turno" required>
                    <label class="form__label label_notIcon" for="turno">Turno</label>
                </div>

                <div class="form__container--input hidden">
                    <input id="telefone_aluno" class="form__input input_notIcon" type="text" minlength="11" maxlength="11" name="telefone" required>
                    <label class="form__label label_notIcon" for="telefone_aluno">Telefone (Com DDD)</label>
                </div>

                <div class="form__container--input hidden">
                    <input id="senha_aluno" class="form__input input_notIcon" type="password" name="senha" required>
                    <label class="form__label label_notIcon" for="senha_aluno">Senha</label>
                </div>

                <div class="form__container--input hidden">
                    <input id="conf_senha_aluno" class="form__input input_notIcon" type="password" name="conf_senha" required>
                    <label class="form__label label_notIcon" for="conf_senha_aluno">Confirmar senha</label>
                </div>
            </form>

            <form id="form_motorista" class="form__container--card enter inative" method="post" onsubmit="validationRegister('motorista', event)">
                <div class="form__container--input">
                    <input id="nome_motorista" class="form__input input_notIcon" type="text" name="nome" required>
                    <label class="form__label label_notIcon" for="nome_motorista">Nome (Usuário de login)</label>
                </div>

                <div class="form__container--input">
                    <input id="telefone_motorista" class="form__input input_notIcon" type="text" name="telefone" required>
                    <label class="form__label label_notIcon" for="telefone_motorista">Telefone (Com DDD)</label>
                </div>

                <div class="form__container--input">
                    <input id="email" class="form__input input_notIcon" type="text" name="email" required>
                    <label class="form__label label_notIcon" for="email">Email</label>
                </div>

                <div class="form__container--input">
                    <input id="senha_motorista" class="form__input input_notIcon" type="password" name="senha" required>
                    <label class="form__label label_notIcon" for="senha_motorista">Senha</label>
                </div>

                <div class="form__container--input">
                    <input id="conf_senha_motorista" class="form__input input_notIcon" type="password" name="conf_senha" required>
                    <label class="form__label label_notIcon" for="conf_senha_motorista">Confirmar senha</label>
                </div>
            </form>

            <button id="button_submit" class="form__btn btn_scroll enter" onclick="submit()">Enviar</button>
            <div class="form__container--text_info enter">
                <p class="text">Já possui uma conta?</p>
                <button class="form__btn--simple" onclick="closeInterface('register', '/')">Logar</button>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/interface.js"></script>
    <script src="/static/js/validation.js"></script>
</body>
</html>
