<div id="model_regiao" class="inactive">
    <h2 class="text title"></h2>
</div>


<div id="model_line" class="page__container--line inactive" onclick="enterInterface_popup(this)">
    <div class="page__container--line_content">
        <div class="page__container pos_relative">
            <i class="bi bi-bus-front-fill page__icon--box"></i>
            <h1 id="model_line_nome" class="text box title_box"></h1>
        </div>
        <h3 id="model_line_dono" class="text box nowrap"></h3>
    </div>

    <div class="page__container--line_content info">
        <h1 id="model_line_paga" class="text box info_box">> Paga</h1>
        <h1 id="model_line_gratuita" class="text box info_box inactive">> Gratuita</h1>
        <h1 id="model_line_ferias" class="text box info_box inactive">> Em férias</h1>
    </div>

    <div class="page__container--line_image">
        <img class="page__line_img" src="/static/data/img/logo_busstup.png">
    </div>
</div>


<div id="model_ponto">
    <div id="model_ponto_btn" class="page__container interaction pos_relative inactive" onclick="actionContainer(this)">
        <h3 id="model_ponto_number" class="text secundario fundo"></h3>
        <h3 id="model_ponto_passou" class="text secundario emphasis inactive">Passou</h3>
        <h3 id="model_ponto_aCaminho" class="text secundario emphasis inactive">Seguindo</h3>
        <h3 id="model_ponto_nome" class="text secundario max_width fundo"></h3>
        <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
    </div>

    <div id="model_ponto_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal_big inactive">

        <div id="model_ponto_espera" class="inactive">
            <p class="text secundario emphasis margin_bottom">Solicitando espera</p>
        </div>

        <div id="model_ponto_faltam" class="inactive">
            <h1 class="page__division inactive"></h1>
            <p class="text secundario emphasis margin_bottom">Falta subir no veículo</p>
        </div>

        <div id="model_ponto_presente" class="inactive">
            <h1 class="page__division inactive"></h1>
            <p class="text secundario emphasis margin_bottom">Presente no veículo</p>
        </div>
    </div>
</div>


<div id="model_rota" class="inactive">
    <h1 class="page__division inactive"></h1>
    <div id="model_rota_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
        <h3 id="model_rota_iniciado" class="text secundario emphasis inactive">Iniciado</h3>
        <h3 id="model_rota_placa" class="text secundario max_width fundo">Placa do ônibus</h3>
        <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
    </div>

    <div id="model_rota_container" class="inactive">
        {% if role == 'motorista' %}
        <div class="page__container justify">
            <div class="interface__container--btn add margin_bottom" onclick="">
                <p class="interface__text">Iniciar trajeto de partida</p>
            </div>
        </div>

        <div class="page__container justify">
            <div class="interface__container--btn add margin_bottom" onclick="">
                <p class="interface__text">Iniciar trajeto de retorno</p>
            </div>
        </div>

        <div class="page__container justify inactive">
            <div class="interface__container--btn add margin_bottom" onclick="">
                <p class="interface__text">Cancelar trajeto de partida</p>
            </div>
        </div>

        <div class="page__container justify inactive">
            <div class="interface__container--btn add margin_bottom" onclick="">
                <p class="interface__text">Cancelar trajeto de retorno</p>
            </div>
        </div>
        {% else %}
        <div class="page__container justify inactive">
            <div class="interface__container--btn add margin_bottom" onclick="">
                <p class="interface__text">Marcar presença</p>
            </div>
        </div>
        {% endif %}

        <div class="page__container">
            <p class="text secundario fundo">Cadastrados na rota:</p>
            <div class="text secundario fundo">
                <p id="model_rota_capacidade" class="text secundario container content space"></p>
                <p class="text secundario container content">pessoas</p>
            </div>
        </div>

        <div class="page__container">
            <p class="text secundario fundo">Acompanhar por GPS:</p>
            <i id="localizacao_ponto" class="bi bi-pin-map page__icon content location"></i>
        </div>

        <div id="model_rota_pontos_partida_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
            <h3 id="model_rota_placa" class="text secundario max_width fundo">Pontos de partida</h3>
            <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
        </div>

        <div id="model_rota_pontos_partida_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal_max inactive"></div>

        <div id="model_rota_pontos_retorno_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
            <h3 id="model_rota_placa" class="text secundario max_width fundo">Pontos de retorno</h3>
            <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
        </div>

        <div id="model_rota_pontos_retorno_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal_max inactive"></div>
    </div>
    <h1 id="model_rota_division" class="page__division inactive"></h1>
</div> 


<div id="model_motorista" class="inactive">
    <h1 class="page__division inactive"></h1>
    <div class="page__container">
        <p id="model_motorista_dono" class="text secundario emphasis inactive">Dono</p>
        <p id="model_motorista_adm" class="text secundario emphasis inactive">Adm</p>
        <p id="model_motorista_nome" class="text secundario emphasis max_width"></p>
        {% if role == 'motorista' %}
        <i id="model_motorista_btn" class="bi bi-three-dots-vertical page__icon content emphasis inactive"></i>
        {% endif %}
    </div>
    
    <div class="page__container">
        <p class="text secundario fundo">Pix:</p>
        <div class="scroll_horizontal">
            <p id="model_motorista_pix" class="text secundario fundo content"></p>
        </div>
        <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
    </div>

    <div class="page__container">
        <p class="text secundario fundo">Telefone:</p>
        <p id="model_motorista_telefone" class="text secundario fundo content"></p>
        <i class="bi bi-clipboard page__icon content copy" onclick="copy_text(this)"></i>
    </div>
</div>


<div id="model_option" class="popup__input checkbox grow inactive" onclick="popup_selectOption(this, false, true)">
    <p class="popup__text input"></p>
</div>


{% if role == 'motorista' %}
<div id="interface_model_ponto" class="popup__input min_height inactive">
    <p class="popup__text input"></p>
    <i class="bi bi-three-dots-vertical page__icon content right inactive"></i>
</div>

<div id="interface_model_aluno" class="popup__input min_height inactive">
    <span class="inactive"></span>
    <p class="popup__text input"></p>
    <i class="bi bi-three-dots-vertical page__icon content right inactive"></i>
</div>

<div id="interface_model_option_headli" class="popup__input move inactive">
    <i class="bi bi-arrows-expand icon_move inactive"></i>
    <span class="page__container max_width interaction">
        <h4 id="interface_model_option_headli_number" class="text secundario fundo no_margin_y"></h4>
        <p id="interface_model_option_headli_nome" class="text secundario fundo no_margin_y max_width"></p>
        <p id="interface_model_option_headli_horario" class="text secundario fundo no_margin_y"></p>
    </span>
</div>

{% else %}
<div id="interface_model_aluno" class="popup__input min_height inactive">
    <p class="popup__text input"></p>
</div>
{% endif %}


<div id="model_interface_rota" class="popup__container--input inactive" onclick="open_popup_edit('config_rota', this)">
    <div class="popup__input_big">
        <div class="popup__local">
            <p id="model_interface_rota_placa" class="popup__text_local"></p>
            <p class="popup__text_local">></p>
            <p id="model_interface_rota_motorista" class="popup__text_local"></p>
        </div>

        <div class="popup__local">
            <p id="model_interface_rota_turno" class="popup__text_local"></p>
            <p class="popup__text_local">></p>
            <p id="model_interface_rota_horario_partida" class="popup__text_local"></p>
            <p class="popup__text_local">~</p>
            <p id="model_interface_rota_horario_retorno" class="popup__text_local"></p>
        </div>
    </div>
    <p id="model_interface_rota_quantidade" class="popup__text_local display"></p>
</div>
