<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BussTup</title>
    <link rel="icon" href="/static/data/img/icon_busstup.png">
    <link rel="preload" href="/static/css/index.css" as="style">
    <link rel="preload" href="/static/css/page.css" as="style">
    <link rel="preload" href="/static/css/popup.css" as="style">
    <link rel="preload" href="/static/js/form_animation.js" as="script">
    <link rel="preload" href="/static/js/page_animation.js" as="script">
    <link rel="preload" href="/static/js/validation.js" as="script">

    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body onload="enterPage()">
    <p class="hidden_point">.</p>
    {% if role == 'aluno' %}
    <div id="edit_ponto" class="popup__container--shadow inative">
        <div class="popup__container">
            <div class="popup__container--header">
                <h1 class="popup__title">Mudar ponto</h1>
            </div>
            <div class="popup__container--content">
                <h2 class="popup__text info">(OBS) Mudar o ponto altera seu local fixo.</h2>
                <h2 class="popup__text">Selecione o novo local:</h2>
                <div class="scroll_vertical">
                    
                </div>
            </div>
            <div class="popup__container--footer">
                <button class="popup__btn cancel" onclick="cancel_popup_edit('edit_ponto')">Cancelar</button>
                <button class="popup__btn">Salvar</button>
            </div>
        </div>
    </div>
    {% endif %}

    <header id="header" class="page__container--header header_hidden">
        <h1 class="text--header">BussTup</h1>
        <div class="page__icon_area">
            <i class="bi bi-search page__icon"></i>
            <i class="bi bi-person-circle page__icon"></i>
        </div>
    </header>

    <section id="content" class="page__container--content scroll_horizontal content_noBorder">
        <div id="aba_agenda" class="page__container--aba">
            <div id="area_agenda" class="page__container column">
                <div class="page__container title enter">
                    <h1 id="nome_linha" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">-</h1>
                    <h1 id="cidade_linha" class="text principal">Cidade</h1>
                </div>

                {% if role == 'aluno' %}
                <div class="page__container enter">
                    <h1 class="text title">Meu ponto</h1>
                    <i class="bi bi-pencil-square page__icon title" onclick="open_popup_edit('edit_ponto')"></i>
                </div>
                <div id="meu_ponto" class="enter">
                    <div class="page__container">
                        <h2 class="text secundario emphasis">Motorista</h2>
                        <h2 id="nome_motorista" class="text secundario content">Nome do motorista</h2>
                    </div>
                    <div class="page__container">
                        <div class="page__container">
                            <h2 class="text secundario emphasis">Ponto</h2>
                            <h2 id="nome_ponto" class="text secundario content">Nome do ponto</h2>
                        </div>
                        <div class="page__container">
                            <h2 class="text secundario emphasis">Turno</h2>
                            <h2 id="turno_rota" class="text secundario content">Matutino</h2>
                        </div>
                    </div>
                    <div class="page__container">
                        <div class="page__container">
                            <h2 class="text secundario emphasis">Ordem do ponto</h2>
                            <h2 id="ordem_ponto" class="text secundario content">1</h2>
                        </div>
                        <div class="page__container">
                            <h2 class="text secundario emphasis">Horário</h2>
                            <h2 class="text secundario content">07h</h2>
                        </div>
                    </div>
                    <div class="page__container">
                        <h2 class="text secundario emphasis">Localização</h2>
                        <h2 class="text secundario content">Localização do ponto</h2>
                    </div>
                </div>

                <h1 class="text title enter">Minha semana</h1>
                <div id="minha_semana" class="enter">
                    <div class="page__container">
                        <h2 class="text secundario">Tickets restantes:</h2>
                        <h2 class="text secundario content">21</h2>
                    </div>
                    <div class="page__container">
                        <h2 class="text secundario">Contraturno fixo:</h2>
                        <h2 class="text secundario content">Nenhum</h2>
                        <i class="bi bi-pencil-square page__icon content"></i>
                    </div>
                    <div class="page__container scroll_horizontal">
                        {% for index in range(5) %}
                        <div class="page__container--card hidden">
                            <div class="page__container--card_title pos_relative">
                                <h1 class="text terciario">Segunda</h1>
                                <i class="bi bi-pencil-square page__icon card"></i>
                            </div>
                            <div class="page__container--card_body">
                                <div class="page__container">
                                    <h3 class="text terciario">Data:</h3>
                                    <h3 class="text terciario content">27/11/2023</h3>
                                </div>
                                <div class="page__container">
                                    <h3 class="text terciario">Irá faltar:</h3>
                                    <h3 id="falta" class="text terciario content">Não</h3>
                                </div>
                                <div class="page__container">
                                    <h3 class="text terciario">Contraturno:</h3>
                                    <h3 class="text terciario content">Não</h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                <h1 class="text title enter">Previsão do ônibus</h1>
                <div id="previsao_onibus">
                    {% if role == 'aluno' %}
                    <div class="page__container enter">
                        <h3 class="text secundario">Capacidade total:</h3>
                        <h3 id="capacidade_onibus" class="text secundario content">30</h3>
                        <h3 class="text secundario content">pessoas</h3>
                    </div>
                    <div class="page__container enter">
                        <h3 class="text secundario">Período:</h3>
                        <h3 class="text secundario content">27/11/2023 - 01/12/2023</h3>
                    </div>

                    {% for index_previsao in range(3) %}
                    <div id="previsao_{{ index_previsao }}" class="enter">
                        <div id="title_{{ index_previsao }}" class="page__container interaction pos_relative" onclick="checkForecast('{{ index_previsao }}')">
                            <h2 class="text secundario emphasis max_width">Matutino</h2>
                            <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                        </div>
                        <div id="dias_{{ index_previsao }}" class="inative">
                            {% for index_dia in range(5) %}
                            <div id="previsao_{{ index_previsao }}-dia_{{ index_dia }}" class="page__container align">
                                <h2 class="text indicate emphasis">Segunda</h2>
                                <i class="bi bi-arrow-right-short page__icon indicate"></i>
                                <div class="page__container">
                                    <h2 class="text terciario">Previsão:</h2>
                                    <h2 id="previsao_pessoas" class="text terciario content">24</h2>
                                    <h2 class="text terciario content">pessoas</h2>
                                </div>
                                <div class="page__container">
                                    <h2 class="text terciario">Estado:</h2>
                                    <h2 id="previsao_estado" class="text terciario content green">Normal</h2>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="aba_ponto" class="page__container--aba">
            <p>Área pontos</p>
        </div>
        <div id="aba_onibus" class="page__container--aba">
            <p>Área ônibus</p>
        </div>
        <div id="aba_chat" class="page__container--aba">
            <p>Área chat</p>
        </div>
    </section>

    <section id="nav" class="page__container--buttom nav_hidden">
        <div class="page__btn">
            <i id="agenda" class="bi bi-journal-text page__icon--btn btn_selected" onclick="replaceAba('agenda')"></i>
        </div>
        <div class="page__btn">
            <i id="ponto" class="bi bi-geo-alt page__icon--btn" onclick="replaceAba('ponto')"></i>
        </div>
        <div class="page__btn">
            <i id="linha" class="bi bi-bus-front page__icon--btn" onclick="replaceAba('linha')"></i>
        </div>
        <div class="page__btn">
            <i id="chat" class="bi bi-chat-dots page__icon--btn" onclick="replaceAba('chat')"></i>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/form_animation.js"></script>
    <script src="/static/js/page_animation.js"></script>
</body>
</html>
