<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BussTup</title>
    <link rel="icon" href="/static/data/img/icon_busstup.png">
    <link rel="preload" href="/static/css/index.css" as="style">
    <link rel="preload" href="/static/css/page.css" as="style">
    <link rel="preload" href="/static/css/popup.css" as="style">
    <link rel="preload" href="/static/css/form.css" as="style">
    <link rel="preload" href="/static/css/interface.css" as="style">
    <link rel="preload" href="/static/js/interface.js" as="script">
    <link rel="preload" href="/static/js/page.js" as="script">
    <link rel="preload" href="/static/js/validation.js" as="script">

    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="/static/css/interface.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body onload="enterPage()">
    <p class="hidden_point">.</p>
    <!-- Models -->
    {% include "t_models_index.html" %}

    {% if role == 'aluno' %}

        {% include "t_models/model_aluno.html" %}

        <!-- POPUPs edit -->
        {% include "t_popups_edit/popup_aluno.html" %}

    {% elif role == 'motorista' %}

        {% include "t_models/model_motorista.html" %}

        <!-- POPUPs edit -->
        {% include "t_popups_edit/popup_motorista.html" %}

    {% endif %}

    <!-- ----- -->
    <header id="header_page" class="page__container--header header_hidden hidden">
        <h1 class="text--header">BussTup</h1>
        <div class="page__container--icon">
            <i class="bi bi-person-circle page__icon animate first" onclick="closeInterface('pag_usuario', '/perfil-usuario')"></i>
        </div>
    </header>
    
    <section id="content_page" class="page__container--content scroll_horizontal content_noBorder">
        <div id="aba_agenda" class="page__container--aba">
            <div id="not_line_agenda" class="inactive">
                Você não possui uma linha
            </div>

            <div id="area_agenda" class="page__container column">
                <div class="page__container title enter">
                    <h1 id="nome_linha" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">~</h1>
                    <h1 id="cidade_linha" class="text principal">Cidade</h1>
                </div>

                {% if role == 'aluno' %}
                <h1 class="text title enter">Meu ponto</h1>
                <div class="page__container enter">
                    <p class="text secundario emphasis">Motorista</p>
                    <p id="motorista_nome" class="text secundario content fundo">Nome do motorista</p>
                </div>

                <div class="enter">
                    <div class="page__container pos_relative">
                        <p class="text secundario emphasis">Ponto</p>
                        <p id="nome_ponto" class="text secundario emphasis max_width">Nome do ponto</p>
                        <i class="bi bi-pencil-square page__icon content absolute" onclick="open_popup_edit('edit_ponto')"></i>
                    </div>

                    <div class="page__container space_itens">
                        <p class="text secundario emphasis">Ordem</p>
                        <p id="ordem_ponto" class="text secundario content fundo">1</p>
                        <p class="text secundario emphasis">Horário</p>
                        <p id="horario_ponto" class="text secundario content fundo">07h</p>
                        <p class="text secundario emphasis">Localização</p>
                        <i id="localizacao_ponto" class="bi bi-pin-map page__icon content location"></i>
                    </div>
                </div>

                <h1 class="text title enter">Minha semana</h1>
                <div id="minha_semana" class="">
                    <!-- <div class="page__container">
                        <p class="text secundario fundo">Tickets restantes:</p>
                        <p id="quant_tickets" class="text secundario content fundo"></p>
                    </div> -->

                    <div class="page__container enter">
                        <p class="text secundario fundo">Contraturno fixo:</p>
                        <p id="contaturnos_fixos" class="text secundario content fundo">Nenhum</p>
                        <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_contraturno')"></i>
                    </div>

                    <div class="page__container scroll_horizontal enter">
                        {% for index in range(5) %}
                        <div class="page__container--card hidden" onclick="open_popup_edit('edit_dia', this)">
                            <div class="page__container--card_title pos_relative">
                                <h1 class="text terciario">{{ dias_semana[index] }}</h1>
                                <i class="bi bi-pencil-square page__icon card"></i>
                            </div>

                            <div class="page__container--card_body">
                                <div class="page__container">
                                    <p class="text terciario">Data:</p>
                                    <p id="data_{{ dias_semana[index] }}" class="text terciario content">27/11/2023</p>
                                </div>

                                <div class="page__container">
                                    <p class="text terciario">Irá faltar:</p>
                                    <p id="falta_{{ dias_semana[index] }}" class="text terciario content">Não</p>
                                </div>

                                <div class="page__container">
                                    <p class="text terciario">Contraturno:</p>
                                    <p id="contraturno_{{ dias_semana[index] }}" class="text terciario content">Não</p>
                                </div>

                                <div class="page__container inactive">
                                    <p class="text terciario">Ponto subida:</p>
                                    <p id="pSubida_{{ dias_semana[index] }}" class="text terciario content"></p>
                                </div>

                                <div class="page__container inactive">
                                    <p class="text terciario">Ponto descida:</p>
                                    <p id="pDescida_{{ dias_semana[index] }}" class="text terciario content"></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                <h1 class="text title enter">Previsão do ônibus</h1>
                <div id="previsao_onibus">
                    {% if role == 'aluno' %}
                    <div class="page__container enter">
                        <p class="text secundario fundo">Capacidade total:</p>
                        <div class="text secundario fundo">
                            <p id="capacidade_onibus" class="text secundario content container space">30</p>
                            <p class="text secundario content container">pessoas</p>
                        </div>
                    </div>

                    <div class="page__container enter">
                        <p class="text secundario fundo">Período:</p>
                        <p class="text secundario content fundo">27/11/2023 - 01/12/2023</p>
                    </div>

                    {% for index_previsao in range(3) %}
                    <div id="previsao_{{ turnos[index_previsao] }}" class="enter">
                        <div id="{{ turnos[index_previsao] }}_btn" class="page__container interaction pos_relative" onclick="actionContainer(this, true)">
                            <h2 class="text secundario fundo max_width">{{ turnos[index_previsao] }}</h2>
                            <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                        </div>
                        
                        <div id="{{ turnos[index_previsao] }}_container" class="inactive">
                            {% for index_dia in range(5) %}
                            <div id="{{ turnos[index_previsao] }}-dia_{{ index_dia }}" class="page__container align">
                                <h2 class="text indicate emphasis">{{ dias_semana[index_dia][0:3] }}</h2>
                                <i class="bi bi-arrow-right-short page__icon indicate"></i>
                                <p class="text terciario fundo">Previsão:</p>
                                <div class="text secundario fundo">
                                    <p id="{{ turnos[index_previsao] }}-dia_{{ index_dia }}_previsao" class="text terciario content container space">0</p>
                                    <p class="text terciario content container">pessoas</p>
                                </div>
                                <p class="text terciario fundo">Estado:</p>
                                <p id="{{ turnos[index_previsao] }}-dia_{{ index_dia }}_estado" class="text terciario content green fundo">Normal</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    {% elif role == 'motorista' %}
                    <div class="page__container enter">
                        <p class="text secundario fundo">Período:</p>
                        <p id="periodo_previsao" class="text secundario content fundo">09/12/2023 - 10/12/2023</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- ----- -->

        <div id="aba_rota" class="page__container--aba">
            <div id="area_rota" class="page__container column inactive">
                {% if role == 'motorista' %}
                <div class="page__container title enter">
                    <h1 id="area_rota_nome" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">></h1>
                    <h1 class="text principal">Rotas</h1>
                </div>

                <h2 class="text title enter">Minhas rotas</h2>
                <div id="minhas_rota">
                    <div id="sem_veiculo" class="enter">
                        <p class="text secundario emphasis">Você não possui relação com nenhum veículo.</p>
                        <p class="text secundario fundo">Defina um veículo para conseguir iniciar um trajeto:</p>
                        <div class="page__container justify">
                            <div class="interface__container--btn add margin_top big" onclick="">
                                <i class="bi bi-box-arrow-up-right interface__icon redirect"></i>
                            </div>
                        </div>
                    </div>

                    <div id="sem_rota" class="inactive">
                        <p class="text secundario emphasis">Seu veículo não possui nenhuma rota definida.</p>
                        <p class="text secundario fundo">Crie uma rota para conseguir iniciar um trajeto:</p>
                        <div class="page__container justify">
                            <div class="interface__container--btn add margin_top big" onclick="">
                                <i class="bi bi-box-arrow-up-right interface__icon redirect"></i>
                            </div>
                        </div>
                    </div>

                    <div id="minha_rota_area" class="enter"></div>
                    <h1 class="page__division enter"></h1>
                </div>

                {% else %}
                <div class="page__container title enter">
                    <h1 id="area_rota_nome" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">></h1>
                    <h1 class="text principal">Rota</h1>
                </div>
                <h2 class="text title enter">Minha rota</h2>
                <div id="minha_rota_area" class="enter"></div>
                <h1 class="page__division enter"></h1>
                {% endif %}
                
                {% for index in range(3) %}
                <div id="rotas_{{ turnos[index] }}">
                    <h2 class="text title enter">{{ turnos[index] }}</h2>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- ----- -->

        <div id="aba_linhas" class="page__container--aba">
            <div id="area_linhas" class="page__container column inactive">
                <div class="page__container title enter">
                    <h1 class="text principal">Linhas</h1>
                </div>

                {% if role == 'motorista' %}
                <h2 class="text title enter">Minhas linhas</h2>
                <div id="minha_linha_area" class="enter"></div>

                <div id="msg_criar_linha" class="enter">
                    <p class="text secundario emphasis">Você ainda não está relacionado a nenhuma linha.</p>
                    <p class="text secundario fundo">Solicite entrada em alguma linha ou crie a sua:</p>
                    <div class="page__container--line selected">
                        <i class="bi bi-plus-lg page__icon--box plus" onclick="open_popup_edit('create_line')"></i>
                    </div>
                </div>
                <h1 class="page__division enter"></h1>
                <div id="msg_solicitar_entrada" class="page__container">
                    <p class="text secundario fundo enter">Solicite entrada:</p>
                </div>
                {% endif %}

                <div id="local_linhas"></div>
            </div>
        </div>

        <!-- ----- -->

        <div id="aba_chat" class="page__container--aba">
            <div id="area_chat" class="page__container column inactive">
                <div class="page__container title enter">
                    <h1 id="area_chat_nome_linha" class="text principal">Nome da linha</h1>
                    <h1 class="text principal">></h1>
                    <h1 class="text principal">Chat</h1>
                </div>

                <h2 class="text title enter">Aviso</h2>
                <p class="text secundario emphasis enter">O recurso de chat ainda se encontra em desenvolvimento.</p>
                <p class="text secundario fundo enter">Estamos trabalhando para permitir uma linha de comunicação estável para todos os usuários.</p>
            </div>
        </div>
    </section>

    <section id="nav_page" class="page__container--buttom nav_hidden">
        <div class="page__btn">
            <i id="agenda" class="bi bi-journal-text page__icon--btn btn_selected" onclick="replaceAba(this)"></i>
        </div>

        <div class="page__btn">
            <i id="rota" class="bi bi-geo-alt page__icon--btn" onclick="replaceAba(this)"></i>
        </div>

        <div class="page__btn">
            <i id="linhas" class="bi bi-bus-front page__icon--btn" onclick="replaceAba(this)"></i>
        </div>

        <div class="page__btn">
            <i id="chat" class="bi bi-chat-dots page__icon--btn" onclick="replaceAba(this)"></i>
        </div>
    </section>

    <section id="interface_linha" class="interface__container scroll_vertical no_border inactive">
        <header id="interface_linha_header" class="interface__container--header">
            <i class="bi bi-arrow-left-short interface__icon animate" onclick="closeInterface_popup('interface_linha')"></i>
            <h1 id="interface_nome" class="text title no_marge no_border"></h1>
            <h1 class="text title no_marge no_border">~</h1>
            <h1 id="interface_cidade" class="text title no_marge no_border"></h1>
            <h1 id="interface_ferias" class="text title no_marge no_border inactive">(Férias)</h1>

            {% if role == 'motorista' %}
            <i id="interface_config" class="bi bi-gear interface__icon--header inactive" onclick="open_popup_edit('config_linha', this)"></i>
            <button id="interface_btn_entrar" class="form__btn--simple small margin_right inactive">Entrar</button>            
            {% endif %}
        </header>

        <div id="interface_linha_content" class="interface__container--content">
            <div id="area_precos" class="interface__container--area">
                <h2 class="text title">Valores</h2>
                <div class="page__container">
                    <p class="text secundario fundo">Valor da cartela:</p>
                    <div class="text secundario fundo">
                        <p class="text secundario content container space">R$</p>
                        <p id="interface_valor_cartela" class="text secundario content container"></p>
                    </div>
                    {% if role == 'motorista' %}
                    <i id="edit_valor_cartela" class="bi bi-pencil-square page__icon content inactive" onclick="open_popup_edit('edit_valor', this)"></i>
                    {% endif %}
                </div>

                <div class="page__container">
                    <p class="text secundario fundo">Valor da diária:</p>
                    <div class="text secundario fundo">
                        <p class="text secundario content container space">R$</p>
                        <p id="interface_valor_diaria" class="text secundario content container"></p>
                    </div>
                    {% if role == 'motorista' %}
                    <i id="edit_valor_diaria" class="bi bi-pencil-square page__icon content inactive" onclick="open_popup_edit('edit_valor', this)"></i>
                    {% endif %}
                </div>
            </div>

            <div id="area_motoristas" class="interface__container--area">
                <h2 class="text title">Motoristas</h2>
            </div>

            {% if role == 'motorista' %}
            <div id="area_onibus" class="interface__container--area">
                <h2 class="text title">Ônibus</h2>
                <div id="area_onibus_content">
                    <div id="teste_onibus" class="">
                        <div id="teste_onibus_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                            <h3 id="teste_onibus_placa" class="text secundario fundo">1234567</h3>
                            <h3 id="teste_onibus_motorista" class="text secundario max_width fundo">Nenhum</h3>
                            <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                        </div>

                        <div id="teste_onibus_container" class="inactive">
                            <div class="page__container">
                                <p class="text secundario fundo">Capacidade:</p>
                                <div class="text secundario fundo">
                                    <p id="teste_onibus_capacidae" class="text secundario container content space">30</p>
                                    <p class="text secundario container content">pessoas</p>
                                </div>
                                <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_capacidade_veicle', this)"></i>
                            </div>
            
                            <div class="page__container">
                                <p class="text secundario fundo">Motorista:</p>
                                <p id="teste_onibus_motorista" class="text secundario fundo content">Nenhum</p>
                                <i class="bi bi-pencil-square page__icon content" onclick="open_popup_edit('edit_motorista_veicle', this)"></i>
                            </div>
                            
                            <div class="page__container justify">
                                <div class="interface__container--btn remove" onclick="open_popup_edit('del_veicle', this)">
                                    <i class="bi bi-trash3 interface__icon del"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="page__division"></h1>
                <div class="page__container justify">
                    <div class="interface__container--btn add" onclick="open_popup_edit('add_veicle')">
                        <i class="bi bi-plus-lg interface__icon plus"></i>
                    </div>
                </div>
            </div>
            {% endif %}

            <div id="area_rotas" class="interface__container--area">
                {% if role == 'aluno' %}
                <h2 class="text title">Rotas</h2>

                {% elif role == 'motorista' %}
                <h2 class="text title">Pontos e Rotas</h2>
                <div id="interface_pontos_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                    <h3 class="text secundario fundo max_width">Pontos</h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>

                <div id="interface_pontos_container" class="inactive">
                    <div class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                        {% for index in range(1) %}
                        <div id="interface_model_ponto" class="popup__input grow min_height" onclick="open_popup_edit('config_ponto', this)">
                            <p id="interface_model_ponto_nome" class="popup__text input">Bacurau 1</p>
                            <i class="bi bi-three-dots-vertical page__icon content right"></i>
                        </div>
                        {% endfor %}
                    </div>

                    <h1 class="page__division aba"></h1>
                    <div class="page__container justify">
                        <div class="interface__container--btn margin_bottom add aba" onclick="open_popup_edit('add_ponto')">
                            <i class="bi bi-plus-lg interface__icon plus"></i>
                        </div>
                    </div>
                </div>

                <div id="interface_rotas_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                    <h3 class="text secundario fundo max_width">Rotas</h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>

                <div id="interface_rotas_container" class="inactive">
                    <div class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                        <div id="interface_model_rota" class="popup__input grow min_height" onclick="open_popup_edit('config_rota', this)">
                            <p id="interface_model_rota_placa_onibus" class="popup__text input">Placa do ônibus</p>
                            <p class="popup__text input">|</p>
                            <p id="interface_model_rota_turno" class="popup__text input">Matutino</p>
                            <p class="popup__text input">|</p>
                            <p id="interface_model_quant_pessoas" class="popup__text input">30 pessoas</p>
                            <i class="bi bi-three-dots-vertical page__icon content right"></i>
                        </div>
                    </div>

                    <h1 class="page__division aba"></h1>
                    <div class="page__container justify">
                        <div class="interface__container--btn margin_bottom add aba" onclick="open_popup_edit('add_rota')">
                            <i class="bi bi-plus-lg interface__icon plus"></i>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            {% if role == 'motorista' %}
            <div id="area_alunos" class="interface__container--area">
                <h2 class="text title">Alunos e Tickets</h2>
                <div id="interface_alunos_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                    <h3 class="text secundario fundo">Alunos</h3>
                    <h3 id="interface_alunos_quant" class="text secundario fundo max_width">1 cadastrado</h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>

                <div id="interface_alunos_container" class="scroll_vertical no_borderY popup__container--scroll inactive">
                    <div id="interface_alunos_matutino_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                        <h3 class="text secundario emphasis">Matutino</h3>
                        <h3 id="interface_alunos_matutino_quant" class="text secundario fundo max_width">1 cadastrado</h3>
                        <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                    </div>

                    <div id="interface_alunos_matutino_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal">
                        {% for index in range(1) %}
                        <div id="interface_model_aluno" class="popup__input grow min_height" onclick="open_popup_edit('config_aluno', this)">
                            <p id="interface_model_aluno_title" class="popup__text input">Victor Gabriel</p>
                            <i class="bi bi-three-dots-vertical page__icon content right"></i>
                        </div>
                        {% endfor %}
                    </div>

                    <div id="interface_alunos_vespertino_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                        <h3 class="text secundario emphasis">Vespertino</h3>
                        <h3 id="interface_alunos_vespertino_quant" class="text secundario fundo max_width">0 cadastrados</h3>
                        <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                    </div>
                    
                    <div id="interface_alunos_vespertino_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal"></div>

                    <div id="interface_alunos_noturno_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                        <h3 class="text secundario emphasis">Noturno</h3>
                        <h3 id="interface_alunos_noturno_quant" class="text secundario fundo max_width">0 cadastrados</h3>
                        <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                    </div>
                    
                    <div id="interface_alunos_noturno_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal"></div>
                </div>

                <div id="interface_tickets_btn" class="page__container interaction pos_relative" onclick="actionContainer(this)">
                    <h3 class="text secundario fundo max_width">Tickets</h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>

                <div id="interface_tickets_container" class="scroll_vertical init_top no_borderY popup__container--scroll principal inactive">
                    <h3 class="text secundario fundo">Não disponível.</h3>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    
    <script src="/static/js/validation.js"></script>
    <script src="/static/js/interface.js"></script>
    <script src="/static/js/page.js"></script>
    <script src="/static/js/interaction.js"></script>
    <script>checkLine()</script>
</body>
</html>
