<section id="config_route" class="popup__container--shadow inactive">
    <div class="popup__container">
        <header class="popup__container--header pos_relative">
            <h1 class="popup__title">Rota</h1>
        </header>

        <div class="popup__container--content">
            <div class="scroll_vertical init_top no_borderY popup__container--scroll principal_max">
                <div id="config_route_desativada" class="inactive">
                    <p class="text info center fundo cinza">Rota desativada</p>
                    <p class="text info fundo justify margin_top">Apenas usuários motoristas ou alunos que já possuíam vínculo com esta rota podem visualizá-la.</p>
                    <h1 class="page__division"></h1>
                </div>

                {% if role == 'aluno' %}
                <div id="config_route_aviso" class="inactive">
                    <p class="text info center fundo cinza">Não vinculado</p>
                    <p class="text info fundo justify margin_top">Para efetuar o cadastro, selecione os locais desejados para ida e volta na área "Pontos" da rota.</p>
                    <h1 class="page__division"></h1>
                </div>

                <div id="config_route_aviso" class="inactive">
                    <p class="text info center fundo cinza">Defina seu contraturno</p>
                    <p class="text info fundo justify margin_top">Selecione o local a ser utilizado como contraturno na área "Pontos" da rota.</p>
                    <h1 class="page__division"></h1>
                </div>
                {% endif %}
                
                <div class="page__container">
                    <p class="text secundario fundo">Motorista:</p>
                    <div class="scroll_horizontal">
                        <p id="config_route_motorista" class="text secundario content fundo nowrap"></p>
                    </div>
                </div>

                <div class="page__container">
                    <p class="text secundario fundo">Ônibus:</p>
                    <div class="scroll_horizontal">
                        <p id="config_route_motorista" class="text secundario content fundo nowrap"></p>
                    </div>
                    {% if role == 'motorista' %}
                    <i class="bi bi-pencil-square page__icon content inactive" onclick="open_popup_edit('edit_onibus_rota')"></i>
                    {% endif %}
                </div>

                <div class="page__container">
                    <p class="text secundario fundo">Turno:</p>
                    <p id="config_route_turno" class="text secundario content fundo"></p>
                    {% if role == 'motorista' %}
                    <i class="bi bi-pencil-square page__icon content inactive" onclick="open_popup_edit('edit_turno_rota')"></i>
                    {% endif %}
                </div>
    
                <div class="page__container">
                    <p class="text secundario fundo">Partida:</p>
                    <p id="config_route_horario_partida" class="text secundario content fundo"></p>

                    {% if role == 'motorista' %}
                    <i class="bi bi-pencil-square page__icon content inactive" onclick="open_popup_edit('edit_horario_rota')"></i>
                    {% endif %}
                </div>

                <div class="page__container">
                    <p class="text secundario fundo">Retorno:</p>
                    <p id="config_route_horario_retorno" class="text secundario content fundo"></p>

                    {% if role == 'motorista' %}
                    <i class="bi bi-pencil-square page__icon content inactive" onclick="open_popup_edit('edit_horario_rota')"></i>
                    {% endif %}
                </div>

                {% if role == 'aluno' %}
                <div class="page__container justify">
                    <div class="interface__container--btn add margin_top" onclick="">
                        <p class="interface__text">Agendar uma diária</p>
                    </div>
                </div>
                {% endif %}

                <div class="page__container justify">
                    <div class="interface__container--btn add margin_top" onclick="">
                        <p class="interface__text">Ver estatística</p>
                    </div>
                </div>

                <h3 class="popup__text question">Pontos</h3>
                <div id="config_route_pontos_sub_btn" class="page__container interaction pos_relative" onclick="actionContainer(this, 50)">
                    <h3 class="text secundario emphasis">Partida</h3>
                    <h3 id="config_route_pontos_sub_qnt" class="text secundario fundo max_width"></h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>
                
                <div id="config_route_pontos_sub_container" class="page__container column inactive">
                    {% if role == 'aluno' %}
                    <h3 class="text">Selecione seu ponto de subida:</h3>
                    {% endif %}

                    <div id="config_route_pontos_sub_area" class="scroll_vertical init_top no_borderY popup__container--scroll sortable margin_top"></div>
                    
                    {% if role == 'motorista' %}
                    <h1 class="page__division"></h1>
                    <div class="page__container justify">
                        <div class="interface__container--btn add margin_bottom" onclick="open_popup_edit('add_ponto_rota')">
                            <i class="bi bi-plus-lg interface__icon plus"></i>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div id="config_route_pontos_des_btn" class="page__container interaction pos_relative" onclick="actionContainer(this, 50)">
                    <h3 class="text secundario emphasis">Retorno</h3>
                    <h3 id="config_route_pontos_des_qtn" class="text secundario fundo max_width"></h3>
                    <i class="bi bi-caret-right-fill pos_absolute page__icon icon_container"></i>
                </div>
                
                <div id="config_route_pontos_des_container" class="inactive">
                    {% if role == 'aluno' %}
                    <h3 class="text">Selecione seu ponto de descida:</h3>
                    {% endif %}
                    
                    <div id="config_route_pontos_des_area" class="scroll_vertical init_top no_borderY popup__container--scroll principal sortable margin_top"></div>
                    
                    {% if role == 'motorista' %}
                    <h1 class="page__division"></h1>
                    <div class="page__container justify">
                        <div class="interface__container--btn add margin_bottom" onclick="open_popup_edit('add_ponto_rota')">
                            <i class="bi bi-plus-lg interface__icon plus"></i>
                        </div>
                    </div>
                    {% endif %}
                </div>
                
                {% if role == 'aluno' %}
                <div id="config_route_btn_contraturno" class="page__container justify">
                    <div class="interface__container--btn add margin_top" onclick="">
                        <p class="interface__text">Definir contraturno</p>
                    </div>
                </div>

                <div id="config_route_contraturno_container" class="page__container inactive">
                    <p class="text secundario fundo">Contraturno:</p>
                    <p id="config_route_contraturno" class="text secundario content fundo"></p>
                </div>

                {% else %}

                <h1 class="page__division"></h1>
                <div class="page__container justify">
                    <div class="interface__container--btn remove" onclick="open_popup_edit('del_rota', this)">
                        <i class="bi bi-trash3 interface__icon del"></i>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <footer class="popup__container--footer">
            <button class="popup__btn" onclick="cancel_popup_edit('config_route', true)">Fechar</button>
        </footer>
    </div>
</section>
